<template slot="footer">
<p>To Do</p>
</template>

<style>
</style>

<script>

export default {
  components: {
  },

  data () {
    return {
    }
  },

  methods: {
  }
}
</script>
<style scoped lang="stylus">
@import '~variables'

.q-layout-page
  // overflow hidden
  .tables
    width 100%
    max-width 640px
    // overflow auto

.tdhead
  background-color $primary
  color white
  padding 8px 16px
  // border-top 12px solid $page-background-color
  // &.first
  //   border-top 0 solid $page-background-color

.tdsubhead
  font-style italic
  border-top 8px solid $page-background-color

.trmargintop > td
  border-top 8px solid $page-background-color

table
  width 100%
  margin-bottom 12px

td
  text-align right

tr td:first-child
  text-align left

.footer, .header
  padding 8px 0 4px 0
  background-color white
  & > button
    margin-right 8px
    margin-bottom 4px
    padding-right 6px !important
    &:last-child
      margin-right 0

.footer button
  background-color $secondary
  color #444

.footerMsg div
  text-align center
  padding 4px 16px
  width 100%

.cashMsg
  background-color: red
  color white

.outMsg
  background-color: green
  color white
</style>

<style lang="stylus">
.footer, .header
  .q-focus-helper
    opacity 0 !important
  & > button i
    margin-right 2px !important
  & > button.receiveButton i
    margin-right -2px !important

.modal-header
  color #730EA9
</style>
