<template>
  <q-page class="flex flex-center">
    <div>
      In Statement page show debug?<br>
      <q-radio v-model="showDebugStatement" val="false" label="hide" /> &nbsp;
      <q-radio v-model="showDebugStatement" val="true" label="show" /><br>
    </div>
  </q-page>
</template>

<script>
import store from '../store/store'
export default {
  data () {
    return {
    }
  },

  fromMobx: {
    showDebugStatement: {
      get () { return store.showDebugStatement ? 'true' : 'false' },
      set (v) { store.setShowDebugStatement(v === 'true') }
    }
  },

  methods: {
  }
}
</script>

<style>
</style>
