<template>
  <page-content>
    <div class="flex column items-center">
      <div class="tables flex column items-center">
        <table>
          <tr>
            <td colspan="99" class="tdhead first">Totals</td>
          </tr>

          <tr>
            <td>Passive Income Rat Race</td><td></td><td>{{showAmount(passiveIncome)}}</td>
          </tr>
          <tr>
          <tr class="trmargintop">
            <td></td><td></td><td>x100</td>
          <tr class="trmargintop">
            <td>Starting Passive Income</td><td></td><td>{{showAmount(passiveIncome100)}}</td>
          </tr>
          <!-- <tr>
            <td>&nbsp;</td><td>&nbsp;</td>
          </tr> -->
          <tr>
            <td>Your Passive Income</td><td></td><td>{{showAmount(passiveIncomeFastTrack)}}</td>
          </tr>
          <tr>
            <td><b>Your Total Cash</b></td><td></td><td><b>{{showAmount(cashFastTrack)}}</b></td>
          </tr>
          <template v-if="is202">
            <tr>
              <td colspan="99" class="tdhead first">To Win</td>
            </tr>
            <tr>
              <td>Buy your dream</td><td></td><td></td><td>{{dreamToWin}}</td>
            <tr>
            <tr class="trmargintop">
              <td>Or</td><td></td><td>Or</td>
            </tr>
            <tr class="trmargintop">
              <td>Buy 2 other dreams</td>
            <tr>
            <tr class="trmargintop">
              <td>And</td><td></td><td>And</td>
            </tr>
            <tr class="trmargintop">
              <td>Increase Passive Income To</td><td></td><td>{{showAmount(passiveIncomeToWin)}}</td>
            </tr>
            <br>
          </template>
          <template v-if="is101">
            <tr>
              <td colspan="99" class="tdhead first">To Win</td>
            </tr>
            <tr class="trmargintop">
              <td>Buy your dream</td><td></td><td>{{dreamToWin}}</td>
            <tr>
            <tr class="trmargintop">
              <td>Or</td><td></td><td>Or</td>
            </tr>
            <tr class="trmargintop">
              <td>Increase Passive Income To</td><td></td><td>{{showAmount(passiveIncomeToWin)}}</td>
            </tr>
          </template>
          <tr>
            <td colspan="99" class="tdhead first">Assets</td>
          </tr>
          <tr>
            <td class="tdsubhead">Business:</td>
            <td class="tdsubhead">Downpay:</td>
            <td class="tdsubhead">Cash Flow:</td>
          </tr>
          <template v-if="businessesFastTrackEmpty">
            <tr :key="12349">
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(business, index) in businessesFastTrack">
              <tr :key="index">
                <template v-if="is101">
                  <td>{{business.title}}</td>
                  <td>{{showAmount(business.down)}}</td>
                  <td>{{showAmount(business.cashFlow)}}</td>
                </template>
                <template v-if="is202">
                  <td>{{business.title}} ({{business.franchiseAmount}})</td>
                  <td>{{showAmount(business.down)}}</td>
                  <td>{{showAmount(business.cashFlow)}}</td>
                </template>
              </tr>
            </template>
          </template>
          <br>
          <tr>
            <td colspan="99" class="tdhead first">Dreams You Have Enjoyed</td>
          </tr>
          <tr>
            <td class="tdsubhead">Dream:</td>
          </tr>
          <template v-if="dreamsEmpty">
            <tr>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(dream, index) in dreamsBought">
              <tr :key="index">
                <td>{{dream.title}}</td>
              </tr>
            </template>
          </template>

        </table>
        </div>
      </div>

      <template slot="footer">
        <div class="footerMsg">
          <template v-if="isWon">
            <div class="outMsg">You have won the game!</div>
          </template>
        </div>

        <div class="footer row justify-center">
          <q-btn label="Receive" icon="attach_money" dense no-caps @click="clickAddPaycheck" class="receiveButton" />
          <q-btn label="Buy" icon="rotate_right" dense no-caps @click="clickBuy" />
          <template v-if="is202">
            <q-btn label="Sell" icon="rotate_right" dense no-caps @click="clickSell" />
          </template>
          <q-btn label="Pay" icon="credit_card" dense no-caps @click="clickPay" />
        </div>
      </template>

      <template slot="dialogs">
        <dialog-add-paycheck
          :show-dialog="showAddPaycheckDialog"
          @dialog-closed="onAddPaycheckDialogClosed"
        />
        <dialog-pay-custom-value
          :show-dialog="showPayDialog"
          @dialog-closed="onPayDialogClosed"
        />
        <dialog-buy-fast-track
          :show-dialog="showBuyDialog"
          @dialog-closed="onBuyClosed"
        />
        <dialog-sell-fast-track
          :show-dialog="showSellDialog"
          @dialog-closed="onSellClosed"
        />
      </template>
  </page-content>
</template>

<script>
import PageContent from '../components/page-content.vue'
import store from '../store/store'
import {showAmount, showNumber} from '../helpers/format'
import DialogAddPaycheck from '../components/dialog-add-paycheck-fast-track.vue'
import DialogPay from '../components/dialog-pay-custom-value-fast-track.vue'
import DialogBuy from '../components/dialog-buy-fast-track.vue'
import DialogSell from '../components/dialog-sell-fast-track.vue'

export default {
  components: {
    'page-content': PageContent,
    'dialog-add-paycheck': DialogAddPaycheck,
    'dialog-pay-custom-value': DialogPay,
    'dialog-buy-fast-track': DialogBuy,
    'dialog-sell-fast-track': DialogSell
  },

  data () {
    return {
      showPayDialog: false,
      showAddPaycheckDialog: false,
      showBuyDialog: false,
      showSellDialog: false
    }
  },

  fromMobx: {
    cashFastTrack () { return store.cashFastTrack },
    passiveIncome () { return store.passiveIncome },
    passiveIncome100 () { return store.passiveIncome * 100 },
    passiveIncomeFastTrack () { return store.passiveIncomeFastTrack },
    cashflowVersion () { return store.cashflowVersion },
    passiveIncomeToWin () { return store.passiveIncome * 100 + 50000 },
    dreamToWin () { return store.dream },
    businessesFastTrackEmpty () { return store.businessesFastTrackEmpty },
    businessesFastTrack () { return store.businessesFastTrack },
    dreamsEmpty () { return store.dreamsEmpty },
    dreamsBought () { return store.dreamsBought },
    isWon () { return store.isWon }
  },

  computed: {
    is101 () { return this.cashflowVersion === '101' },
    is202 () { return this.cashflowVersion === '202' }
  },

  methods: {
    showAmount (v) {
      return showAmount(v)
    },

    showNumber (v) {
      return showNumber(v)
    },
    clickPay () {
      this.showPayDialog = true
    },
    onPayDialogClosed () {
      this.showPayDialog = false
    },
    clickAddPaycheck () {
      this.showAddPaycheckDialog = true
    },
    onAddPaycheckDialogClosed () {
      this.showAddPaycheckDialog = false
    },
    clickBuy () {
      this.showBuyDialog = true
    },
    onBuyClosed () {
      this.showBuyDialog = false
    },
    clickSell () {
      this.showSellDialog = true
    },
    onSellClosed () {
      this.showSellDialog = false
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.q-layout-page
  // overflow hidden
  .tables
    width 100%
    max-width 640px
    // overflow auto

.tdhead
  background-color $primary
  color white
  padding 8px 16px
  // border-top 12px solid $page-background-color
  // &.first
  //   border-top 0 solid $page-background-color

.tdsubhead
  font-style italic
  border-top 8px solid $page-background-color

.trmargintop > td
  border-top 8px solid $page-background-color

table
  width 100%
  margin-bottom 12px

td
  text-align right

tr td:first-child
  text-align left

.footer, .header
  padding 8px 0 4px 0
  background-color white
  & > button
    margin-right 8px
    margin-bottom 4px
    padding-right 6px !important
    &:last-child
      margin-right 0

.footer button
  background-color $secondary
  color #444

.footerMsg div
  text-align center
  padding 4px 16px
  width 100%

.cashMsg
  background-color: red
  color white

.outMsg
  background-color: green
  color white
</style>

<style lang="stylus">
.footer, .header
  .q-focus-helper
    opacity 0 !important
  & > button i
    margin-right 2px !important
  & > button.receiveButton i
    margin-right -2px !important

.modal-header
  color #730EA9
</style>
