<template>
  <page-content>
    <div class="flex column items-center">
      <div class="tables flex column items-center">
        <table v-if="showTotals">
          <tr>
            <td colspan="99" class="tdhead first">Totals</td>
          </tr>

          <tr class="trmargintop">
            <td><b>Passive Income</b></td><td><b>{{showAmount(passiveIncome)}}</b></td>
          </tr>
          <template v-if="showDebugStatement">
            <tr class="debug">
              <td>Old Passive Income</td><td>{{showAmount(oldPassiveIncome)}}</td>
            </tr>
          </template>
          <tr>
            <td>Total Income</td><td>{{showAmount(totalIncome)}}</td>
          </tr>

          <tr>
            <td>Total Expenses</td><td>{{showAmount(totalExpenses)}}</td>
          </tr>
          <template v-if="showDebugStatement">
            <tr class="debug">
              <td>Old Total Expenses</td><td>{{showAmount(oldTotalExpenses)}}</td>
            </tr>
          </template>
          <tr>
            <td><b>Monthly Cash Flow</b></td><td><b>{{showAmount(monthlyCashFlow)}}</b></td>
          </tr>
          <tr>
            <td><b>Your Total Cash</b></td><td><b>{{showAmount(cash)}}</b></td>
          </tr>
          <template v-if="showDebugStatement">
            <tr class="debug">
              <td>Old Total Cash</td><td>{{showAmount(oldCash)}}</td>
            </tr>
          </template>
        </table>

        <table v-if="showAssets">
          <tr>
            <td colspan="99" class="tdhead">Assets</td>
          </tr>

          <tr>
            <td class="tdsubhead">Stocks etc.:</td>
            <td class="tdsubhead"># Shares<template v-if="is202"> (turns)</template>:</td>
            <td class="tdsubhead">$/Share:</td>
            <td class="tdsubhead">Cash-flow:</td>
          </tr>
          <template v-if="stocksEmpty">
            <tr :key="12347">
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(stock, index) in stocks">
              <tr :key="index">
                <td>{{stock.type}}</td>
                <td>
                  <template v-if="stock.numberOfShares">
                    {{showNumber(stock.numberOfShares)}}
                  </template>
                  <template v-if="stock.numberOfSharesShort">
                    {{showNumber(stock.numberOfSharesShort)}} shorts
                  </template>
                  <template v-if="stock.numberOfSharesCall">
                    {{showNumber(stock.numberOfSharesCall)}} calls<template v-if="is202"> ({{stock.turnsLeft}})</template>
                  </template>
                  <template v-if="stock.numberOfSharesPut">
                    {{showNumber(stock.numberOfSharesPut)}} puts<template v-if="is202"> ({{stock.turnsLeft}})</template>
                  </template>
                </td>
                <td>{{showAmount(stock.costPerShare)}}</td>
                <td>{{showAmount(stock.cashFlow)}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Real Estate:</td>
            <td class="tdsubhead">Down Pay:</td>
            <td class="tdsubhead">Cost:</td>
            <td class="tdsubhead">Cash-flow:</td>
          </tr>
          <template v-if="realEstatesEmpty">
            <tr :key="12348">
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(realEstate, index) in realEstates">
              <tr :key="index">
                <td>{{showRealEstateName(realEstate)}}</td>
                <td>{{showAmount(realEstate.downPay)}}</td>
                <td>{{showAmount(realEstate.cost)}}</td>
                <td>{{showAmount(realEstate.cashFlow)}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Business:</td>
            <td class="tdsubhead">Down Pay:</td>
            <td class="tdsubhead">Cost:</td>
            <td class="tdsubhead">Cash-flow:</td>
          </tr>
          <template v-if="businessesEmpty">
            <tr :key="12349">
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(business, index) in businesses">
              <tr :key="index">
                <td>{{business.type}}</td>
                <td>{{showAmount(business.downPay)}}</td>
                <td>{{showAmount(business.cost)}}</td>
                <td>{{showAmount(business.cashFlow)}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Other Assets:</td>
            <td class="tdsubhead">Down Pay:</td>
            <td class="tdsubhead">Cost:</td>
            <td class="tdsubhead">Cash-flow:</td>
          </tr>
          <template v-if="otherAssetsEmpty">
            <tr :key="13349">
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(as, index) in otherAssets">
              <tr :key="index">
                <td>{{showNumber(as.units)}} {{as.type}}</td>
                <td>{{showAmount(as.units * as.downPay)}}</td>
                <td>{{showAmount(as.units * as.cost)}}</td>
                <td>{{showAmount(as.units * as.cashFlow)}}</td>
              </tr>
            </template>
          </template>
        </table>

        <table v-if="showLiabilities">
          <tr>
            <td colspan="99" class="tdhead">Liabilities</td>
          </tr>
          <tr class="trmargintop">
            <td>Home Mortgage</td><td>{{showAmount(homeMortgage)}}</td>
          </tr>
          <tr>
            <td>School Loans</td><td>{{showAmount(schoolLoans)}}</td>
          </tr>
          <tr>
            <td>Car Loans</td><td>{{showAmount(carLoans)}}</td>
          </tr>
          <tr>
            <td>Creditcards</td><td>{{showAmount(creditcards)}}</td>
          </tr>
          <tr>
            <td>Retail Debt</td><td>{{showAmount(retailDebt)}}</td>
          </tr>

          <tr>
            <td class="tdsubhead">Real Estate Mortgages:</td>
            <td class="tdsubhead">Mortgage:</td>
          </tr>
          <template v-if="realEstatesEmpty">
            <tr :key="12350">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(realEstate, index) in realEstates">
              <tr :key="index">
                <td>{{showRealEstateName(realEstate)}}</td>
                <td>{{showAmount(realEstate.mortgage)}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Business Loans:</td>
            <td class="tdsubhead">Loan:</td>
          </tr>
          <template v-if="businessesEmpty">
            <tr :key="12351">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(business, index) in businesses">
              <tr :key="index">
                <td>{{business.type}}</td>
                <td>{{showAmount(business.mortgage)}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Liabilities:</td>
            <td class="tdsubhead">Loan:</td>
          </tr>
          <template v-if="liabilitiesEmpty">
            <tr :key="12346">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(liability, index) in liabilities">
              <tr :key="index">
                <td>{{liability.type}}</td>
                <td>{{showAmount(liability.mortgage)}}</td>
              </tr>
            </template>
          </template>

          <template v-if="isBoat">
            <tr>
              <td>Boat Loan</td><td>{{showAmount(boatLoan)}}</td>
            </tr>
          </template>

          <tr class="trmargintop">
            <td>Bank Loan</td><td>{{showAmount(bankLoan)}}</td>
          </tr>
        </table>

        <table v-if="showIncome">
          <tr>
            <td colspan="99" class="tdhead">Income</td>
          </tr>

          <tr class="trmargintop">
            <td>Salary</td><td>{{showAmount(salary)}}</td>
          </tr>

          <tr>
            <td class="tdsubhead">Interest:</td>
            <td class="tdsubhead">Cash Flow:</td>
          </tr>
          <template v-if="interestsEmpty">
            <tr :key="12545">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(stock, index) in interests">
              <tr :key="index">
                <td>{{stock.type}}</td>
                <td>{{stock.interestPerMonth * stock.numberOfShares}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Dividends:</td>
            <td class="tdsubhead">Cash Flow:</td>
          </tr>
          <template v-if="dividendsEmpty">
            <tr :key="12445">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(stock, index) in dividends">
              <tr :key="index">
                <td>{{stock.type}}</td>
                <td>{{stock.dividendPerMonth * stock.numberOfShares}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Royalties:</td>
            <td class="tdsubhead">Cash Flow:</td>
          </tr>
          <template v-if="royaltiesEmpty">
            <tr :key="16445">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(royalty, index) in royalties">
              <tr :key="index">
                <td>{{royalty.type}}</td>
                <td>{{royalty.cashFlow}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Real Estate:</td>
            <td class="tdsubhead">Cash Flow:</td>
          </tr>
          <template v-if="realEstatesEmpty">
            <tr :key="12345">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(realEstate, index) in realEstates">
              <tr :key="index">
                <td>{{showRealEstateName(realEstate)}}</td>
                <td>{{showAmount(realEstate.cashFlow)}}</td>
              </tr>
            </template>
          </template>

          <tr>
            <td class="tdsubhead">Businesses:</td>
            <td class="tdsubhead">Cash Flow:</td>
          </tr>
          <template v-if="businessesEmpty">
            <tr :key="12346">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(business, index) in businesses">
              <tr :key="index">
                <td>{{business.type}}</td>
                <td>{{showAmount(business.cashFlow)}}</td>
              </tr>
            </template>
          </template>
        </table>

        <table v-if="showExpenses">
          <tr>
            <td colspan="99" class="tdhead">Expenses</td>
          </tr>

          <tr class="trmargintop">
            <td>Taxes</td><td>{{showAmount(taxes)}}</td>
          </tr>
          <tr>
            <td>Home Mortgage</td><td>{{showAmount(homeMortgagePayment)}}</td>
          </tr>
          <tr>
            <td>School Loan Payment</td><td>{{showAmount(schoolLoanPayment)}}</td>
          </tr>
          <tr>
            <td>Car Payment</td><td>{{showAmount(carPayment)}}</td>
          </tr>
          <tr>
            <td>Creditcard Payment</td><td>{{showAmount(creditcardPayment)}}</td>
          </tr>
          <tr>
            <td>Retail Payment</td><td>{{showAmount(retailPayment)}}</td>
          </tr>
          <tr>
            <td>Other Expenses</td><td>{{showAmount(otherExpenses)}}</td>
          </tr>
          <tr>
            <td>Child Expense</td><td>{{numberOfChildren}} * {{showAmount(perChildExpense)}} = {{showAmount(numberOfChildren * perChildExpense)}}</td>
          </tr>
          <template v-if="isBoat">
            <tr>
              <td>Boat Loan Payment</td><td>{{showAmount(boatLoanPayment)}}</td>
            </tr>
          </template>
          <tr>
            <td>Bank Loan Payment</td><td>{{showAmount(bankLoanPayment)}}</td>
          </tr>

          <tr>
            <td class="tdsubhead">Liabilities:</td>
            <td class="tdsubhead">Amount:</td>
          </tr>
          <template v-if="liabilitiesEmpty">
            <tr :key="12346">
              <td>-</td>
              <td>-</td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(liability, index) in liabilities">
              <tr :key="index">
                <td>{{liability.type}}</td>
                <td>{{showAmount(liability.monthlyExpenses)}}</td>
              </tr>
            </template>
          </template>
        </table>
      </div>
    </div>

    <!-- <template slot="header">
      <div class="header row justify-center">
        <q-btn label="Card" icon="insert_drive_file" dense no-caps @click="clickCard" />
        <q-btn label="Receive" icon="attach_money" dense no-caps @click="clickAddPaycheck" class="receiveButton" />
        <q-btn label="Pay" icon="credit_card" dense no-caps @click="clickPay" />
        <q-btn label="Other" icon="account_balance" dense no-caps @click="clickLoan" />
        <q-btn label="(Children)"  @click="clickChild" />
        <q-btn label="(Deal)"  @click="clickSmallDeal" />
        <q-btn label="(Market)"  @click="clickMarket" />
      </div>
    </template> -->

    <template slot="footer">
      <div class="footerMsg">
        <template v-if="isCashNegative">
          <div class="cashMsg">Your cash is negative. Make a bank loan!</div>
        </template>
        <template v-if="isOutOfRatRace">
          <div class="outMsg">Your are out of the rat race!
            <div  class="out button">
              <q-btn label="Fast Track" @click="clickGoToFastTrack"/>
            </div>
          </div>
        </template>
      </div>
      <div class="footer row justify-center">
        <q-btn label="Card" icon="insert_drive_file" dense no-caps @click="clickCard" />
        <q-btn label="Receive" icon="attach_money" dense no-caps @click="clickAddPaycheck" class="receiveButton" />
        <q-btn label="Pay" icon="credit_card" dense no-caps @click="clickPay" />
        <q-btn label="Other" icon="account_balance" dense no-caps @click="clickLoan" />
        <template v-if="turnsIndicator">
          <q-btn label="Next turn" icon="autorenew" dense no-caps @click="clickTurn" class="hili" />
        </template>
        <!-- <q-btn label="(Children)"  @click="clickChild" /> -->
        <!-- <q-btn label="(Deal)"  @click="clickSmallDeal" /> -->
        <!-- <q-btn label="(Market)"  @click="clickMarket" /> -->

        <!-- <q-btn label="Totals/assets" icon="location_city" dense no-caps @click="clickTotalsAssets" />
        <q-btn label="Show all" icon="receipt" dense no-caps @click="clickAll" /> -->

        <!-- <q-btn label="Totals" icon="assignment" dense no-caps @click="clickTotals" />
        <q-btn label="Income" icon="attach_money" dense no-caps @click="clickIncome" />
        <q-btn label="Expenses" icon="credit_card" dense no-caps @click="clickExpenses" />
        <q-btn label="Assets" icon="location_city" dense no-caps @click="clickAssets" />
        <q-btn label="Liabilities" icon="account_balance" dense no-caps @click="clickLiabilities" />
        <q-btn label="All" icon="receipt" dense no-caps @click="clickAll" /> -->
      </div>
    </template>

    <template slot="dialogs">
      <dialog-add-paycheck
        :show-dialog="showAddPaycheckDialog"
        @dialog-closed="onAddPaycheckDialogClosed"
      />
      <dialog-card
        :show-dialog="showCardDialog"
        @dialog-closed="onCardDialogClosed"
      />
      <dialog-pay-custom-value
        :show-dialog="showPayDialog"
        @dialog-closed="onPayDialogClosed"
      />
      <dialog-loan
        :show-dialog="showLoanDialog"
        @dialog-closed="onLoanDialogClosed"
      />
      <dialog-turn
        :show-dialog="showTurnDialog"
        @dialog-closed="onTurnDialogClosed"
      />
    </template>
  </page-content>
</template>

<script>
import PageContent from '../components/page-content.vue'
import store from '../store/store'
import DialogAddPaycheck from '../components/dialog-add-paycheck.vue'
import DialogPay from '../components/dialog-pay-custom-value.vue'
import DialogCard from '../components/dialog-card.vue'
import DialogLoan from '../components/dialog-loan.vue'
import DialogTurn from '../components/dialog-turn.vue'
import {showAmount, showNumber} from '../helpers/format'

export default {
  components: {
    'page-content': PageContent,
    'dialog-add-paycheck': DialogAddPaycheck,
    'dialog-pay-custom-value': DialogPay,
    'dialog-card': DialogCard,
    'dialog-loan': DialogLoan,
    'dialog-turn': DialogTurn
  },

  data () {
    return {
      show: 'all',
      showAddPaycheckDialog: false,
      showPayDialog: false,
      showMarketDialog: false,
      showSmallDealDialog: false,
      showCardDialog: false,
      showLoanDialog: false,
      showTurnDialog: false,
      showChildDialog: false
    }
  },

  fromMobx: {
    showDebugStatement () { return store.showDebugStatement },
    cash () { return store.cash },
    oldCash () { return store.oldCash },
    salary () { return store.salary },
    taxes () { return store.taxes },
    homeMortgagePayment () { return store.homeMortgagePayment },
    schoolLoanPayment () { return store.schoolLoanPayment },
    carPayment () { return store.carPayment },
    creditcardPayment () { return store.creditcardPayment },
    retailPayment () { return store.retailPayment },
    otherExpenses () { return store.otherExpenses },
    bankLoanPayment () { return store.bankLoanPayment },
    numberOfChildren () { return store.numberOfChildren },
    perChildExpense () { return store.perChildExpense },
    homeMortgage () { return store.homeMortgage },
    schoolLoans () { return store.schoolLoans },
    carLoans () { return store.carLoans },
    creditcards () { return store.creditcards },
    retailDebt () { return store.retailDebt },
    boatLoan () { return store.boatLoan },
    boatLoanPayment () { return store.boatLoanPayment },
    bankLoan () { return store.bankLoan },
    realEstates () { return store.realEstates },
    stocks () { return store.stocks },
    businesses () { return store.businesses },
    liabilities () { return store.liabilities },
    stocksEmpty () { return store.stocksEmpty },
    realEstatesEmpty () { return store.realEstatesEmpty },
    businessesEmpty () { return store.businessesEmpty },
    liabilitiesEmpty () { return store.liabilitiesEmpty },
    passiveIncome () { return store.passiveIncome },
    oldPassiveIncome () { return store.oldPassiveIncome },
    totalIncome () { return store.totalIncome },
    totalExpenses () { return store.totalExpenses },
    oldTotalExpenses () { return store.oldTotalExpenses },
    monthlyCashFlow () { return store.monthlyCashFlow },
    dividends () { return store.dividends },
    dividendsEmpty () { return store.dividendsEmpty },
    interests () { return store.interests },
    interestsEmpty () { return store.interestsEmpty },
    royalties () { return store.royalties },
    royaltiesEmpty () { return store.royaltiesEmpty },
    otherAssets () { return store.otherAssets },
    otherAssetsEmpty () { return store.otherAssetsEmpty },
    isCashNegative () { return store.cash < 0 },
    isOutOfRatRace () { return store.isOutOfRatRace },
    turnsIndicator () { return store.turnsIndicator },
    is202 () { return store.cashflowVersion === '202' }
  },

  computed: {
    showTotals () { return this.show === 'totals' || this.show === 'totals_assets' || this.show === 'all' },
    showIncome () { return this.show === 'income' || this.show === 'all' },
    showExpenses () { return this.show === 'expenses' || this.show === 'all' },
    showAssets () { return this.show === 'assets' || this.show === 'totals_assets' || this.show === 'all' },
    showLiabilities () { return this.show === 'liabilities' || this.show === 'all' },
    isBoat () { return this.boatLoan === 17000 }
  },

  methods: {
    showAmount (v) {
      return showAmount(v)
    },

    showNumber (v) {
      return showNumber(v)
    },

    showRealEstateName (v) {
      return store.getRealEstateName(v)
    },

    clickAddPaycheck () {
      this.showAddPaycheckDialog = true
    },
    clickPay () {
      this.showPayDialog = true
    },
    clickMarket () {
      this.showMarketDialog = true
    },
    clickSmallDeal () {
      this.showSmallDealDialog = true
    },
    clickCard () {
      this.showCardDialog = true
    },
    clickLoan () {
      this.showLoanDialog = true
    },
    clickTurn () {
      this.showTurnDialog = true
    },
    clickGoToFastTrack () {
      this.$router.push('fastTrack')
    },
    clickChild () {
      this.showChildDialog = true
    },
    onAddPaycheckDialogClosed () {
      this.showAddPaycheckDialog = false
    },
    onPayDialogClosed () {
      this.showPayDialog = false
    },
    onMarketDialogClosed () {
      this.showMarketDialog = false
    },
    onSmallDealDialogClosed () {
      this.showSmallDealDialog = false
    },
    onCardDialogClosed () {
      this.showCardDialog = false
    },
    onLoanDialogClosed () {
      this.showLoanDialog = false
    },
    onTurnDialogClosed () {
      this.showTurnDialog = false
    },
    onChildDialogClosed () {
      this.showChildDialog = false
    },
    clickTotals () {
      this.show = 'totals'
    },
    clickTotalsAssets () {
      this.show = 'totals_assets'
    },
    clickIncome () {
      this.show = 'income'
    },
    clickExpenses () {
      this.show = 'expenses'
    },
    clickAssets () {
      this.show = 'assets'
    },
    clickLiabilities () {
      this.show = 'liabilities'
    },
    clickAll () {
      this.show = 'all'
    }
  }
}

// console.log('test', this.boatLoan)

</script>

<style scoped lang="stylus">
@import '~variables'

.q-layout-page
  // overflow hidden
  .tables
    width 100%
    max-width 640px
    // overflow auto

.tdhead
  background-color $primary
  color white
  padding 8px 16px
  // border-top 12px solid $page-background-color
  // &.first
  //   border-top 0 solid $page-background-color

.tdsubhead
  font-style italic
  border-top 8px solid $page-background-color

.trmargintop > td
  border-top 8px solid $page-background-color

table
  width 100%
  margin-bottom 12px

td
  text-align right

tr td:first-child
  text-align left

.footer, .header
  padding 8px 0 0 0
  background-color white
  & > button
    margin-right 8px
    margin-bottom 8px
    padding-right 6px !important
    &:last-child
      margin-right 0

.footer button
  background-color $secondary
  color #444
  &.hili
    background-color $primary
    color white

.footerMsg div
  text-align center
  padding 8px 16px
  width 100%

.cashMsg
  background-color: red
  color white

.outMsg
  background-color: green
  color white

.out button
  background-color white
  color green
</style>

<style lang="stylus">
.footer, .header
  .q-focus-helper
    opacity 0 !important
  & > button i
    margin-right 2px !important
  & > button.receiveButton i
    margin-right -2px !important

.modal-header
  color #730EA9

.debug
  color #bbb
</style>
