<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Apply a card</span>

      <div slot="body">
        <q-select
          v-model="dropval"
          stack-label="Your Card:"
          :options="selectDropOptions"
          filter
          autofocus-filter
        />

        <template v-if="isCardBuyTV">
          <br>
          How do you want to pay?<br>
          <q-radio v-model="tvPayChoice" val="cash" label="Pay Cash" /> &nbsp;
          <q-radio v-model="tvPayChoice" val="loan" label="Pay with Credit Card" /><br>
        </template>
        <template v-if="isCardBuyTVCreditCard">
          <br>
          Add a Credit Card debt of {{showAmount(selDoodad.mortgage)}} and increase Credit Card expenses by {{showAmount(selDoodad.monthlyExpenses)}}
        </template>

        <template v-if="isCardNewBoat">
          <br>
          Add a Loan of $ 17,000 and increase monthly expenses by $ 340
        </template>

        <template v-if="isConsultAssetExpert">
          <br>
          <template v-if="customValue">
            Pay {{showAmount(customValue)}}, because you have a passive income of $ 500 or more.
          </template>
          <template v-else>
            Pay nothing, because you have a passive income of less than $ 500.
          </template>
        </template>

        <template v-if="isCardPollution">
          <br>
          What do you want to do?<br>
          <q-radio v-model="pollutionChoice" val="pay" label="Pay Cleanup" /> &nbsp;
          <q-radio v-model="pollutionChoice" val="lose" label="Lose Property" /><br>
        </template>

        <template v-if="isPicker">
          <template v-if="isValid">
            <template v-if="showAmountField">
              <br>
              <q-input v-model="amount" :stack-label="sellAtPriceDesc" />
            </template>

            <br>
            {{wantNeedDesc}}<br>
            <table>
              <tr>
                <th>{{sellDesc}}</th>
                <th>Type:</th>
                <th>Cost:</th>
                <th>Mortgage:</th>
                <th>Cash Flow:</th>
              </tr>
            <template v-for="(item, index) in getItems">
              <tr :key="index">
                <template v-if="isPickerRadio">
                  <td><q-radio v-model="checked" :val="index" /></td>
                </template>
                <template v-else>
                <td><q-checkbox v-model="checked" :val="index" /></td>
                </template>
                <td class="left">{{item.name}}</td>
                <td>{{showAmount(item.cost)}}</td>
                <td>{{showAmount(item.mortgage)}}</td>
                <td>{{showAmount(item.cashFlow)}}</td>
              </tr>
            </template>
            </table>
          </template>
          <template v-else>
            <br>
            You do not have one of those.
          </template>
        </template>

        <template v-if="isUnitsPicker">
          <template v-if="isValid">
            <template v-if="showAmountField">
              <br>
              <q-input v-model="amount" stack-label="Sell at Price per One Item:" />
            </template>

            <br>
            Enter how many you want to sell:<br>
            <table>
              <tr>
                <th>How many?:</th>
                <th>What:</th>
                <th>Bought at:</th>
              </tr>
            <template v-for="(item, index) in getItems">
              <tr :key="index">
                <td><q-input v-model="item.sellUnits" /></td>
                <td>{{showNumber(item.units)}} {{item.name}}</td>
                <td>{{showAmount(item.cost)}}</td>
              </tr>
            </template>
            </table>
          </template>
          <template v-else>
            <br>
            You do not have one of those.
          </template>
        </template>

        <template v-if="isCondoLike">
          <br>
          <q-input v-model="condoCost" stack-label="Cost:" />
          <q-input v-model="condoMortgage" :stack-label="getMortgageDesc" />
          <q-input v-model="condoDownPay" stack-label="DownPay:" />
          <q-input v-model="condoCashFlow" stack-label="Cash Flow:" />
        </template>

        <template v-if="isXPlex">
          <br>
          <q-input v-model="condoUnits" stack-label="How many:" />
          <q-input v-model="condoCost" stack-label="Cost per unit:" />
          <q-input v-model="condoCashFlow" stack-label="Cash Flow per unit:" />
        </template>

        <template v-if="isSpareTime1">
          <br>
          <q-input v-model="condoDownPay" stack-label="Cost:" />
        </template>
        <template v-if="isSpareTime2">
          <br>
          <template v-if="hasSpareTime1">
            <q-input v-model="condoCashFlow" stack-label="Increase business income by:" />
          </template>
          <template v-else>
            You must have Card 1 of D2Y.
          </template>
        </template>
        <template v-if="isSpareTime3">
          <br>
          <template v-if="hasSpareTime2">
            <q-input v-model="condoCashFlow" stack-label="Increase business income by:" />
          </template>
          <template v-else>
            You must have Card 1 and 2 of D2Y.
          </template>
        </template>

        <template v-if="is2Big">
          <br>
          <q-input v-model="stockPrice" stack-label="Today's price (per share):" />
          <q-input v-model="stockDividendPerMonth" stack-label="Dividend per Month:" />
          <br>
          <q-input v-model="stockUnits" stack-label="How many do you want to BUY:" />
          <template v-if="getTotalUnitsOfStock">
            <br>
            You own {{getTotalUnitsOfStock}} of these.<br>
            <q-input v-model="stockUnitsSell" stack-label="How many do you want to SELL:" />
          </template>
        </template>

        <template v-if="isFriendLike">
          <br>
          <q-input v-model="liabilityCost" stack-label="Cost:" />
        </template>

        <template v-if="isRoyalty">
          <br>
          <q-input v-model="royaltyCost" stack-label="Cost:" />
          <q-input v-model="royaltyCashFlow" stack-label="Royalty per month:" />
        </template>

        <template v-if="isCertificate">
          <br>
          <q-input v-model="stockPrice" stack-label="Today's price (per certificate):" />
          <q-input v-model="stockDividendPerMonth" stack-label="Interest per Month:" />
          <br>
          <q-input v-model="stockUnits" stack-label="How many do you want to BUY:" />
          <template v-if="getTotalUnitsOfStock">
            <br>
            You own {{getTotalUnitsOfStock}} of these.<br>
            <q-input v-model="stockUnitsSell" stack-label="How many do you want to SELL:" />
          </template>
        </template>

        <template v-if="isStockLike">
          <br>
          <q-input v-model="stockPrice" stack-label="Today's price (per share):" />
          <br>
          <q-input v-model="stockUnits" stack-label="How many do you want to BUY:" />
          <template v-if="getTotalUnitsOfStock">
            <br>
            You own {{getTotalUnitsOfStock}} of these.<br>
            <q-input v-model="stockUnitsSell" stack-label="How many do you want to SELL:" />
          </template>
        </template>

        <template v-if="isStockLike202">
          <br>
          <q-input v-model="stockPrice" stack-label="Today's price (per share):" />
          <br>
          <q-input v-model="stockUnits" stack-label="How many do you want to BUY:" />
          <q-input v-model="stockUnitsShort" stack-label="How many do you want to SHORT:" />
          <template v-if="getTotalUnitsOfStock">
            <br>
            You own {{getTotalUnitsOfStock}} of these.<br>
            <q-input v-model="stockUnitsSell" stack-label="How many do you want to SELL:" />
          </template>
          <template v-if="getTotalUnitsOfStockShort">
            <br>
            You have shorted {{getTotalUnitsOfStockShort}} of these.<br>
            <q-input v-model="stockUnitsSellShort" stack-label="How many to BUY back:" />
          </template>
          <template v-if="getTotalUnitsOfStockCall">
            <br>
            You have {{getTotalUnitsOfStockCall}} calls of these.<br>
            <q-input v-model="stockUnitsSellCall" stack-label="How many CALLS do you want to EXECISE:" />
          </template>
          <template v-if="getTotalUnitsOfStockPut">
            <br>
            You have {{getTotalUnitsOfStockPut}} puts of these.<br>
            <q-input v-model="stockUnitsSellPut" stack-label="How many PUTS do you want to EXECISE:" />
          </template>
        </template>

        <template v-if="isCallLike">
          <br>
          <q-input v-model="stockPrice" stack-label="Option price (per option):" />
          <q-input v-model="stockPriceRight" stack-label="Right to buy at price (per share):" />
          <br>
          <q-input v-model="stockUnits" stack-label="How many do you want to buy:" />
        </template>
        <template v-if="isPutLike">
          <br>
          <q-input v-model="stockPrice" stack-label="Option price (per option):" />
          <q-input v-model="stockPriceRight" stack-label="Right to sell at price (per share):" />
          <br>
          <q-input v-model="stockUnits" stack-label="How many do you want to buy:" />
        </template>

        <template v-if="isSplitLike">
          <br>
          <q-radio v-model="split" val="2_1" label="Split 2 for 1" /> &nbsp;
          <q-radio v-model="split" val="1_2" label="Reverse split 1 for 2" /><br>
        </template>

        <template v-if="isDamage">
          <br>
          <q-input v-model="payAmount" stack-label="How much do you need to pay:" />
        </template>
        <template v-if="isNormalDoodad">
          <br>
          <template v-if="isCustomValueNegative">
            <q-input v-model="customValueNegative" stack-label="You will get:" readonly />
          </template>
          <template v-else>
            <q-input v-model="customValue" stack-label="You will need to pay:" readonly />
          </template>
        </template>
        <template v-if="isOtherExpDoodad">
          <br>
          <q-input v-model="increaseOtherExpensesBy" stack-label="Your other expenses increase by:" readonly />
        </template>
        <template v-if="isDoodadChild">
          <br>
          You have {{childDesc}}.
          <template v-if="customValue">
            <q-input v-model="customValue" stack-label="You will need to pay:" readonly />
          </template>
          <template v-if="increaseOtherExpensesBy">
            <q-input v-model="increaseOtherExpensesBy" stack-label="Your other expenses will increase by:" readonly />
          </template>
        </template>

        <template v-if="isRiskInsured">
          <br>
          <q-input v-model="increaseOtherExpensesBy" stack-label="Your monthly (other) expenses increase by:" readonly />
        </template>

        <template v-if="isChildMarries">
          <br>
          You have {{childDesc}} children.<br>
          <template v-if="numberOfChildren">
            <br>
            <q-input v-model="customValue" stack-label="How big is your gift:" />
          </template>
        </template>

        <template v-if="isChildUniversity">
          <br>
          You have {{childDesc}} children.<br>
          <template v-if="numberOfChildren">
            How do you want to pay?<br>
            <q-radio v-model="childUniversityPayChoice" val="cash" label="Pay Cash" /> &nbsp;
            <q-radio v-model="childUniversityPayChoice" val="loan" label="Pay with increased School Loan" /><br>
          </template>
        </template>

        <template v-if="isChildCar">
          <br>
          You have {{childDesc}} children.<br>
          <template v-if="numberOfChildren">
            All the car finances will be added.<br>
          </template>
        </template>

        <template v-if="isBackyardFun">
          <br>
          All the pool finances will be added.<br>
        </template>

        <template v-if="isVacationRetreat">
          <br>
          All the 2nd home finances will be added.<br>
        </template>

        <template v-if="isCoprTaxInc">
          <br>
          Please select the 'Stock OK4U/MYT4U (Capital Gain Deal)' option for any stocks you own to take all actions on this card.<br>
        </template>

        <template v-if="isStockBankrupt">
          <br>
          Please select the 'Stock OK4U/MYT4U (Capital Gain Deal)' option for any stocks you own to take all actions on this card.<br><br>
          And simply use '0' as today's price.<br>
        </template>
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Apply"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount, showNumber} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      dropval: '',
      // Small & Big Deals
      deal: '',
      bigDeal: '',
      cashFlowDeal: '',
      capitalGainDeal: '',
      condoCost: '',
      condoMortgage: '',
      condoUnits: '',
      condoDownPay: '',
      condoCashFlow: '',
      stockUnits: '',
      stockUnitsShort: '',
      stockUnitsSell: '',
      stockUnitsSellShort: '',
      stockUnitsSellCall: '',
      stockUnitsSellPut: '',
      stockPrice: '',
      stockPriceRight: '',
      split: '',
      stockDividendPerMonth: '',
      liabilityCost: '',
      liabilityDownPay: '',
      royaltyCost: '',
      royaltyCashFlow: '',
      payAmount: '',
      // Market
      market: '',
      market2: '',
      amount: '',
      checked: [],
      pollutionChoice: '',
      // Doodads
      customValue: '',
      increaseOtherExpensesBy: '',
      card: '',
      tvPayChoice: '',
      childUniversityPayChoice: ''
    }
  },

  fromMobx: {
    cash () { return store.cash },
    numberOfChildren () { return store.numberOfChildren },
    childDesc () { return store.numberOfChildren + ' ' + (store.numberOfChildren === 1 ? 'child' : 'children') },
    hasSpareTime1 () { return store.hasSpareTime1 },
    hasSpareTime2 () { return store.hasSpareTime2 }
  },

  computed: {
    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    selectDropOptions () {
      let opt = []

      if (store.cashflowVersion === '101') {
        for (let op of this.selectDealOptions) {
          opt.push({
            label: op.label + ' (Small Deal)',
            value: 'smalldeal_' + op.value
          })
        }

        for (let op of this.selectBigDealOptions) {
          opt.push({
            label: op.label + ' (Big Deal)',
            value: 'bigdeal_' + op.value
          })
        }
      }

      if (store.cashflowVersion === '202') {
        for (let op of this.selectCashFlowDealOptions) {
          opt.push({
            label: op.label + ' (Cash Flow Deal)',
            value: 'cashflowdeal_' + op.value
          })
        }

        for (let op of this.selectCapitalGainDealOptions) {
          opt.push({
            label: op.label + ' (Capital Gain Deal)',
            value: 'capitalgaindeal_' + op.value
          })
        }
      }

      if (store.cashflowVersion === '101') {
        for (let op of this.selectMarketOptions) {
          opt.push({
            label: op.label + ' (Market)',
            value: 'market_' + op.value
          })
        }
      }

      if (store.cashflowVersion === '202') {
        for (let op of this.selectMarket202Options) {
          opt.push({
            label: op.label + ' (Market)',
            value: 'market2_' + op.value
          })
        }
      }

      for (let op of this.selectCardOptions) {
        opt.push({
          label: op.label + ' (Doodad)',
          value: 'doodad_' + op.value
        })
      }

      return opt
    },

    selectDealOptions () {
      return [
        {
          label: 'Condo',
          value: 'condo'
        },
        {
          label: 'House',
          value: 'house'
        },
        {
          label: 'Raw Land',
          value: 'land'
        },
        {
          label: 'Start a Company - Software',
          value: 'company'
        },
        {
          label: 'Start a Company - Widgets',
          value: 'company_widgets'
        },
        {
          label: 'Stock ON2U',
          value: 'on2u'
        },
        {
          label: 'Stock GRO4US',
          value: 'gro4us'
        },
        {
          label: 'Stock OK4U',
          value: 'ok4u'
        },
        {
          label: 'Stock OK4U Split',
          value: 'ok4u_split'
        },
        {
          label: 'Stock MYT4U',
          value: 'myt4u'
        },
        {
          label: 'Stock MYT4U Split',
          value: 'myt4u_split'
        },
        {
          label: 'Stock 2BIG',
          value: '2big'
        },
        {
          label: 'Certificate of Deposite',
          value: 'certificate'
        },
        {
          label: 'Friend Needs Cash',
          value: 'kruger'
        },
        {
          label: 'Rare Gold Coin',
          value: 'rare_coin'
        },
        {
          label: 'Sister-In-Law Borrows Money',
          value: 'sister_borrow'
        },
        {
          label: 'Tenant Damages Your Property',
          value: 'damage'
        }
      ]
    },

    selectCapitalGainDealOptions () {
      return [
        {
          label: 'Spare Time Co. Card 1',
          value: 'sparetime1'
        },
        {
          label: 'Bankruptcy Sale - Land',
          value: 'land'
        },
        {
          label: 'Estate Sale - Land',
          value: 'land40'
        },
        {
          label: 'Private Sale - Bankrupt Farm',
          value: 'land40'
        },
        {
          label: 'Starter House',
          value: 'condo'
        },
        {
          label: 'Forclosure Sale',
          value: 'duplex'
        },
        {
          label: 'Inherit a Duplex',
          value: 'duplex'
        },
        {
          label: 'Stock MYT4U',
          value: 'myt4u'
        },
        {
          label: 'MYT4U Call Option',
          value: 'myt4u_call'
        },
        {
          label: 'MYT4U Put Option',
          value: 'myt4u_put'
        },
        {
          label: 'Stock OK4U',
          value: 'ok4u'
        },
        {
          label: 'OK4U Call Option',
          value: 'ok4u_call'
        },
        {
          label: 'OK4U Put Option',
          value: 'ok4u_put'
        }
      ]
    },

    selectCashFlowDealOptions () {
      return [
        // {
        //   label: 'House for Sale',
        //   value: 'house'
        // },
        {
          label: 'Duplex for Sale',
          value: 'duplex'
        },
        {
          label: '4-plex for Sale',
          value: '4plex'
        },
        {
          label: '8-plex for Sale',
          value: '8plex'
        },
        {
          label: '12 unit Apartment House',
          value: '12plex'
        },
        {
          label: 'Apartment Building for Sale (24 unit)',
          value: '24plex'
        },
        {
          label: 'Apartment Building for Sale (30 unit)',
          value: '30plex'
        },
        {
          label: 'Apartment Complex for Sale (50 unit)',
          value: '50plex'
        },
        {
          label: 'Partner with a Pro',
          value: 'xplex'
        },
        {
          label: 'Option on Real Estate',
          value: 'option_re'
        },
        {
          label: 'Spare Time Co. Card 1',
          value: 'sparetime1'
        },
        {
          label: 'Spare Time Co. Card 2',
          value: 'sparetime2'
        },
        {
          label: 'Spare Time Co. Card 3',
          value: 'sparetime3'
        },
        {
          label: 'Your Computer Program Bought',
          value: 'program_bought'
        },
        {
          label: 'Your Toy Sells',
          value: 'toy_sells'
        },
        {
          label: 'Record a Hit!',
          value: 'hit_sells'
        },
        {
          label: 'Your Book Sells Well',
          value: 'book_sells'
        },
        {
          label: 'Long Term Bonds',
          value: 'long_bonds'
        },
        {
          label: 'Reinsurance Trust',
          value: 'trust'
        }
      ]
    },

    selectBigDealOptions () {
      return [
        {
          label: 'House for Sale',
          value: 'house'
        },
        {
          label: 'Duplex for Sale',
          value: 'duplex'
        },
        {
          label: '4-plex for Sale',
          value: '4plex'
        },
        {
          label: '8-plex for Sale',
          value: '8plex'
        },
        {
          label: 'Apartment House for Sale (12 unit)',
          value: '12plex'
        },
        {
          label: 'Apartment House for Sale (24 unit)',
          value: '24plex'
        },
        {
          label: 'Apartment Complex for Sale (60 unit)',
          value: '60plex'
        },
        {
          label: '20 Acres for Sale',
          value: 'land'
        },
        {
          label: 'Limited Partner Wanted - Sandwich Shop',
          value: 'biz_Partnership - Sandwich Shop'
        },
        {
          label: 'Limited Partner Wanted - Auto Dealer',
          value: 'biz_Partnership - Auto Dealer'
        },
        {
          label: 'Limited Partner Wanted - Pizza Chain',
          value: 'biz_Partnership - Pizza Chain'
        },
        {
          label: 'Limited Partner Wanted - Doctor Office',
          value: 'biz_Partnership - Doctor Office'
        },
        {
          label: 'Bed & Breakfast for Sale',
          value: 'biz_Bed & Breakfast'
        },
        {
          label: 'Small Shopping Mall for Sale',
          value: 'biz_Small Shopping Mall'
        },
        {
          label: 'Pizza Franchise for Sale',
          value: 'biz_Pizza Franchise'
        },
        {
          label: 'Car Wash for Sale',
          value: 'biz_Car Wash'
        },
        {
          label: 'Automated Business for Sale - Auto Wash',
          value: 'biz_Auto Wash'
        },
        {
          label: 'Automated Business for Sale - Pinball Machines',
          value: 'biz_Pinball Machines'
        },
        {
          label: 'Automated Business for Sale - Laundromat',
          value: 'biz_Laundromat'
        },
        {
          label: 'Automated Business for Sale - Telephone Business',
          value: 'biz_Telephone Business'
        },
        {
          label: 'Sewer Line Breaks',
          value: 'damage'
        },
        {
          label: 'Tenant Damages Your Property',
          value: 'damage'
        }
      ]
    },

    selectMarketOptions () {
      return [
        {
          label: 'Condo Buyer',
          value: 'condo'
        },
        {
          label: 'House Buyer',
          value: 'house'
        },
        {
          label: 'House Buyer - Brother-in-law',
          value: 'housebrother'
        },
        {
          label: 'Plex Buyer',
          value: 'plexbuy'
        },
        {
          label: 'Apartment House Buyer - Any Size',
          value: 'plexany'
        },
        {
          label: 'Apartment House Buyer - 12+ Units',
          value: 'plex12'
        },
        {
          label: 'Builder Wants Land',
          value: '10acres'
        },
        {
          label: 'Buyer for 20 Acres',
          value: '20acres'
        },
        {
          label: 'Collector Wants Gold Coins',
          value: 'rare_coin'
        },
        {
          label: 'Price of Gold Soars',
          value: 'kruger'
        },
        {
          label: 'Inflation Hits!',
          value: 'inflation'
        },
        {
          label: 'Interest Rates Drop!',
          value: 'int_drop'
        },
        {
          label: 'Small Business Improves',
          value: 'biz_improves'
        },
        {
          label: 'Limited Partnership Sold at Twice Cost',
          value: 'partner2'
        },
        {
          label: 'Limited Partnership Sold at Tripple Cost',
          value: 'partner3'
        },
        {
          label: 'Software Company Buyer',
          value: 'demand_software'
        },
        {
          label: 'Widget Company Buyer',
          value: 'demand_widget'
        },
        {
          label: 'Demand for Bed & Breakfast',
          value: 'demand_bed'
        },
        {
          label: 'Demand for Shopping Mall',
          value: 'demand_mall'
        },
        {
          label: 'Car Wash Buyer',
          value: 'demand_car'
        }
      ]
    },

    selectMarket202Options () {
      return [
        {
          label: 'Corporate Taxes Increased',
          value: 'corp_tax_inc'
        },
        {
          label: 'Stopped out of OK4U',
          value: 'corp_tax_inc'
        },
        {
          label: 'Panic selling of MYT4U',
          value: 'corp_tax_inc'
        },
        {
          label: 'OK4U/MYT4U bankrupt/broke/fails',
          value: 'ok_myth_bankrupt'
        },
        {
          label: 'Stock OK4U Split',
          value: 'ok4u_split'
        },
        {
          label: 'Stock MYT4U Split',
          value: 'myt4u_split'
        },
        {
          label: 'House Buyer',
          value: 'condo'
        },
        {
          label: 'Plex Buyer',
          value: 'plexbuy'
        },
        {
          label: 'Apartment House Buyer - Any Size',
          value: 'plexany'
        },
        {
          label: 'Apartment House Buyer - 24+ Units',
          value: 'plex24'
        },
        {
          label: 'Land Offer',
          value: '5acres'
        },
        {
          label: 'Land Wanted / Offer for Land',
          value: '10acres'
        },
        {
          label: 'Real Estate Exchange Deal - starter house > 4-plex',
          value: 'reed_condo'
        },
        {
          label: 'Real Estate Exchange Deal - duplex > 4-plex',
          value: 'reed_duplex'
        },
        {
          label: 'Real Estate Exchange Deal - 4-plex > 8-plex',
          value: 'reed_4plex'
        },
        {
          label: 'Real Estate Exchange Deal - 8-plex > 16-plex',
          value: 'reed_8plex'
        },
        {
          label: 'Pollution Found',
          value: 'pollution'
        },
        {
          label: 'New Airport to be Built!',
          value: 'airport'
        },
        {
          label: 'Surprise offer!',
          value: 'surprise_offer'
        },
        {
          label: 'Natural Disaster!',
          value: 'natural_disaster'
        },
        {
          label: 'Foreign Trade Improves',
          value: 'foreign_trade'
        },
        {
          label: 'Recession Strikes!',
          value: 'recession_strikes'
        },
        {
          label: 'Spare Time Co. Card 3',
          value: 'sparetime3'
        },
        {
          label: 'All Risk Insurance Offered',
          value: 'risk_insured'
        },
        {
          label: 'Your Child Marries',
          value: 'child_marries'
        }
      ]
    },

    selectCardOptions () {
      let cards = []

      for (const [index, card] of store.default.doodads.entries()) {
        if (card.cashflowVersion === store.cashflowVersion) {
          cards.push({
            label: card.title,
            value: index
          })
        }
      }

      return cards
    },

    selDoodad () {
      return parseInt(this.card, 10) >= 0 ? store.default.doodads[this.card] : null
    },

    isConsultAssetExpert () {
      return this.selDoodad && this.selDoodad.type === 'pasinc500'
    },

    isCardPollution () {
      return this.market2 === 'pollution'
    },

    isCardBuyTV () {
      return this.selDoodad && this.selDoodad.type === 'buy_tv'
    },

    isCardBuyTVCreditCard () {
      return this.isCardBuyTV && this.tvPayChoice === 'loan'
    },

    isCardNewBoat () {
      return this.selDoodad && this.selDoodad.type === 'new_boat'
    },

    isPicker () {
      return this.market === 'condo' || this.market === 'house' || this.market === 'housebrother' || this.market === 'plexbuy' || this.market === 'plexany' ||
        this.market === 'plex12' || this.market === '10acres' || this.market === '20acres' || this.market === 'inflation' || this.market === 'int_drop' ||
        this.market === 'biz_improves' || this.market === 'partner2' || this.market === 'partner3' || this.market.substr(0, 7) === 'demand_' ||
        this.market2 === 'condo' || this.market2 === 'plexbuy' || this.market2 === 'plexany' || this.market2 === 'plex24' || this.market2 === '5acres' ||
        this.market2 === '10acres' || this.market2.substr(0, 5) === 'reed_' || this.market2 === 'pollution' || this.market2 === 'airport' ||
        this.market2 === 'surprise_offer' || this.market2 === 'natural_disaster' || this.market2 === 'recession_strikes'
    },

    isPickerRadio () {
      return this.market2 === '5acres' || this.market2 === '10acres' || this.market2.substr(0, 5) === 'reed_' || this.market2 === 'pollution' ||
        this.market2 === 'airport' || this.market2 === 'surprise_offer' || this.market2 === 'natural_disaster'
    },

    isUnitsPicker () {
      return this.market === 'rare_coin' || this.market === 'kruger'
    },

    getItems () {
      let r = {}
      if (this.market === 'condo' || this.market2 === 'condo' || this.market2 === 'reed_condo') {
        r = store.getHouses(2)
      }
      if (this.market === 'house' || this.market === 'housebrother' || this.market === 'inflation' || this.market === 'int_drop') {
        r = store.getHouses(3)
      }
      if (this.market2 === 'reed_duplex') {
        r = store.getPlexes(2)
      }
      if (this.market2 === 'reed_4plex') {
        r = store.getPlexes(4)
      }
      if (this.market2 === 'reed_8plex') {
        r = store.getPlexes(8)
      }
      if (this.market === 'plexbuy' || this.market2 === 'plexbuy') {
        r = store.getPlexes2or4or8()
      }
      if (this.market === 'plexany' || this.market2 === 'plexany') {
        r = store.getApartments()
      }
      if (this.market === 'plex12') {
        r = store.getPlexes12up()
      }
      if (this.market2 === 'plex24') {
        r = store.getPlexes24up()
      }
      if (this.market === '10acres') {
        r = store.getLand(10)
      }
      if (this.market === '20acres') {
        r = store.getLand(20)
      }
      if (this.market2 === '5acres') {
        r = store.getLandMin(5)
      }
      if (this.market2 === '10acres') {
        r = store.getLandMin(10)
      }
      if (this.market === 'rare_coin') {
        r = store.getRareCoins()
      }
      if (this.market === 'kruger') {
        r = store.getKrugers()
      }
      if (this.market === 'biz_improves') {
        r = store.getSmallBusinesses()
      }
      if (this.market === 'partner2' || this.market === 'partner3') {
        r = store.getPartnerships()
      }
      if (this.market === 'demand_software') {
        r = store.getBizSofware()
      }
      if (this.market === 'demand_widget') {
        r = store.getBizWidget()
      }
      if (this.market === 'demand_bed') {
        r = store.getBizBed()
      }
      if (this.market === 'demand_mall') {
        r = store.getBizMall()
      }
      if (this.market === 'demand_car') {
        r = store.getBizCar()
      }
      if (this.market2 === 'pollution' || this.market2 === 'airport' || this.market2 === 'surprise_offer' || this.market2 === 'natural_disaster') {
        r = store.getRealEstateWithHighestCashflow()
      }
      if (this.market2 === 'foreign_trade') {
        r = store.getRentals()
      }
      if (this.market2 === 'recession_strikes') {
        r = store.getRecessionRentals()
      }
      return r
    },

    isValid () {
      return Object.keys(this.getItems).length !== 0
    },

    showAmountField () {
      return this.market !== 'housebrother' && this.market !== 'inflation' && this.market !== 'int_drop' && this.market !== 'partner2' &&
        this.market !== 'partner3' && this.market2.substr(0, 5) !== 'reed_' && this.market2 !== 'pollution' && this.market2 !== 'airport' &&
        this.market2 !== 'surprise_offer' && this.market2 !== 'natural_disaster' && this.market2 !== 'recession_strikes'
    },

    wantNeedDesc () {
      if (this.market === 'partner2' || this.market === 'partner3') {
        return 'Check off the ones you need to sell:'
      }
      if (this.market === 'biz_improves') {
        return 'Check off the ones that get increased cash flow:'
      }
      if (this.market === 'inflation') {
        return 'Check off the ones you need to give back:'
      }
      if (this.market2.substr(0, 5) === 'reed_') {
        return 'Check off the one you want to convert:'
      }
      if (this.market2 === 'pollution' || this.market2 === 'airport' || this.market2 === 'surprise_offer' || this.market2 === 'natural_disaster') {
        return 'Check off the one that applies:'
      }
      if (this.market2 === 'recession_strikes') {
        return 'Check off the ones you want to give back to the bank (the new cashflow is shown here):'
      }
      return 'Check off which ones you want to sell:'
    },

    sellDesc () {
      if (this.market === 'biz_improves') {
        return 'Increase?:'
      }
      if (this.market === 'inflation' || this.market2 === 'recession_strikes') {
        return 'Give back?:'
      }
      if (this.market2 === '5acres' || this.market2 === '10acres') {
        return 'Sell (partly)?:'
      }
      if (this.market2.substr(0, 5) === 'reed_') {
        return 'Convert?:'
      }
      if (this.market2 === 'pollution' || this.market2 === 'airport' || this.market2 === 'surprise_offer' || this.market2 === 'natural_disaster') {
        return 'Apply?:'
      }
      return 'Sell?:'
    },

    sellAtPriceDesc () {
      if (this.market === 'biz_improves') {
        return 'Increase Cash Flow by Amount:'
      }
      if (this.market === 'plexbuy' || this.market === 'plexany' || this.market === 'plex12' || this.market2 === 'plexbuy' || this.market2 === 'plexany' || this.market2 === 'plex24') {
        return 'Sell at Price per Unit:'
      }
      return 'Sell at Price:'
    },

    isCondoLike () {
      return this.deal === 'condo' || this.deal === 'house' || this.bigDeal === 'house' || this.capitalGainDeal === 'condo' ||
        this.bigDeal === 'duplex' || this.bigDeal === '4plex' || this.bigDeal === '8plex' ||
        this.cashFlowDeal === 'duplex' || this.cashFlowDeal === '4plex' || this.cashFlowDeal === '8plex' ||
        this.capitalGainDeal === 'duplex' ||
        this.bigDeal === '12plex' || this.bigDeal === '24plex' || this.bigDeal === '60plex' ||
        this.cashFlowDeal === '12plex' || this.cashFlowDeal === '24plex' || this.cashFlowDeal === '30plex' || this.cashFlowDeal === '50plex' ||
        this.deal === 'land' || this.bigDeal === 'land' || this.capitalGainDeal === 'land' || this.capitalGainDeal === 'land40' || this.deal === 'company' ||
        this.bigDeal.substr(0, 4) === 'biz_' || this.market2.substr(0, 5) === 'reed_'
    },

    isXPlex () {
      return this.cashFlowDeal === 'xplex'
    },

    isSpareTime1 () {
      return this.cashFlowDeal === 'sparetime1' || this.capitalGainDeal === 'sparetime1'
    },

    isSpareTime2 () {
      return this.cashFlowDeal === 'sparetime2'
    },

    isSpareTime3 () {
      return this.cashFlowDeal === 'sparetime3' || this.market2 === 'sparetime3'
    },

    isStockLike () {
      return this.deal === 'on2u' || this.deal === 'gro4us' || this.deal === 'ok4u' || this.deal === 'myt4u'
    },

    isStockLike202 () {
      return this.capitalGainDeal === 'myt4u' || this.capitalGainDeal === 'ok4u'
    },

    isCallLike () {
      return this.capitalGainDeal === 'myt4u_call' || this.capitalGainDeal === 'ok4u_call'
    },

    isPutLike () {
      return this.capitalGainDeal === 'myt4u_put' || this.capitalGainDeal === 'ok4u_put'
    },

    is2Big () {
      return this.deal === '2big' || this.cashFlowDeal === 'long_bonds' || this.cashFlowDeal === 'trust'
    },

    isCertificate () {
      return this.deal === 'certificate'
    },

    isFriendLike () {
      return this.deal === 'kruger' || this.deal === 'rare_coin' || this.deal === 'sister_borrow'
    },

    isRoyalty () {
      return this.cashFlowDeal === 'program_bought' || this.cashFlowDeal === 'toy_sells' || this.cashFlowDeal === 'hit_sells' || this.cashFlowDeal === 'book_sells'
    },

    isSplitLike () {
      return this.deal === 'ok4u_split' || this.deal === 'myt4u_split'
    },

    isDamage () {
      return this.deal === 'damage' || this.bigDeal === 'damage' || this.cashFlowDeal === 'option_re'
    },

    getMortgageDesc () {
      return this.deal === 'company' || this.deal === 'company_widgets' || this.bigDeal === 'company' ? 'Liability / Mortgage:' : 'Mortgage:'
    },

    getTotalUnitsOfStock () {
      return store.getTotalUnitsOfStock(this.deal === 'certificate' ? 'Certificate of Deposite' : this.deal.toUpperCase() + this.capitalGainDeal.toUpperCase())
    },

    getTotalUnitsOfStockShort () {
      return store.getTotalUnitsOfStockShort(this.capitalGainDeal.toUpperCase())
    },

    getTotalUnitsOfStockCall () {
      return store.getTotalUnitsOfStockCall(this.capitalGainDeal.toUpperCase())
    },

    getTotalUnitsOfStockPut () {
      return store.getTotalUnitsOfStockPut(this.capitalGainDeal.toUpperCase())
    },

    isCustomValueNegative () {
      return this.customValue < 0
    },

    customValueNegative () {
      return -this.customValue
    },

    isNormalDoodad () {
      return this.card && store.default.doodads[this.card] && !store.default.doodads[this.card].type && !isNaN(parseInt(store.default.doodads[this.card].payAmount, 10))
    },

    isOtherExpDoodad () {
      return this.card && store.default.doodads[this.card] && !store.default.doodads[this.card].type && !isNaN(parseInt(store.default.doodads[this.card].otherExpenses, 10))
    },

    isRiskInsured () {
      return this.market2 === 'risk_insured'
    },

    isChildMarries () {
      return this.market2 === 'child_marries'
    },

    isDoodadChild () {
      return this.card && store.default.doodads[this.card] && (store.default.doodads[this.card].type === 'ifchild' || store.default.doodads[this.card].type === 'perchild')
    },

    isChildUniversity () {
      return this.card && store.default.doodads[this.card] && store.default.doodads[this.card].type === 'child_university'
    },

    isChildCar () {
      return this.card && store.default.doodads[this.card] && store.default.doodads[this.card].type === 'child_car'
    },

    isBackyardFun () {
      return this.card && store.default.doodads[this.card] && store.default.doodads[this.card].type === 'backyard_fun'
    },

    isVacationRetreat () {
      return this.card && store.default.doodads[this.card] && store.default.doodads[this.card].type === 'vacation_retreat'
    },

    isCoprTaxInc () {
      return this.market2 === 'corp_tax_inc'
    },

    isStockBankrupt () {
      return this.market2 === 'ok_myth_bankrupt'
    },

    isDoodad () {
      return this.isNormalDoodad || this.isOtherExpDoodad || this.isDoodadChild || this.isCardBuyTV || this.isCardBuyTVCreditCard || this.isConsultAssetExpert
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    },

    dropval: function (v) {
      if (v.substr(0, 'smalldeal_'.length) === 'smalldeal_') {
        this.deal = v.substr('smalldeal_'.length)
      }
      if (v.substr(0, 'bigdeal_'.length) === 'bigdeal_') {
        this.bigDeal = v.substr('bigdeal_'.length)
      }
      if (v.substr(0, 'cashflowdeal_'.length) === 'cashflowdeal_') {
        this.cashFlowDeal = v.substr('cashflowdeal_'.length)
      }
      if (v.substr(0, 'capitalgaindeal_'.length) === 'capitalgaindeal_') {
        this.capitalGainDeal = v.substr('capitalgaindeal_'.length)
      }
      if (v.substr(0, 'market_'.length) === 'market_') {
        this.market = v.substr('market_'.length)
      }
      if (v.substr(0, 'market2_'.length) === 'market2_') {
        this.market2 = v.substr('market2_'.length)
      }
      if (v.substr(0, 'doodad_'.length) === 'doodad_') {
        this.card = v.substr('doodad_'.length)
      }
      if (this.market2 === 'risk_insured') {
        this.increaseOtherExpensesBy = 200
      }
    },

    card: function (v) {
      let d = store.default.doodads[v]
      if (d) {
        this.customValue = d.payAmount || ''
        this.increaseOtherExpensesBy = d.otherExpenses || ''
        if (d.type === 'buy_tv') {
          this.tvPayChoice = 'cash'
        }
        if (d.type === 'new_boat') {
          this.customValue = d.payAmount
        }
        if (!d.type) {
          this.customValue = d.payAmount
        }
        if (d.type === 'ifchild') {
          this.customValue = this.numberOfChildren >= 1 ? d.payAmount || 0 : 0
          this.increaseOtherExpensesBy = this.numberOfChildren >= 1 ? d.otherExpenses || 0 : 0
        }
        if (d.type === 'perchild') {
          this.customValue = this.numberOfChildren * d.payAmount
        }
        if (d.type === 'pasinc500') {
          this.customValue = store.passiveIncome >= 500 ? d.payAmount : 0
        }
      }
    },

    tvPayChoice: function (v) {
      let am = this.selDoodad ? this.selDoodad.payAmount : ''
      this.customValue = v === 'cash' ? am : ''
    }
  },

  methods: {
    showAmount (v) {
      return showAmount(v)
    },

    showNumber (v) {
      return showNumber(v)
    },

    clickApply () {
      let that = this
      let storeBackup = store.getState()

      // Doodads

      if (this.isVacationRetreat) {
        store.addCash(-this.selDoodad.payAmount)
        store.addLiability(this.selDoodad.liability)
      } else if (this.isBackyardFun) {
        store.addCash(-this.selDoodad.payAmount)
        store.increaseOtherExpenses(this.selDoodad.otherExpenses)
        store.addLiability(this.selDoodad.liability)
      } else if (this.isChildCar && parseInt(this.numberOfChildren, 10) > 0) {
        store.addCash(-this.selDoodad.payAmount)
        store.addCarPayment(this.selDoodad.carPayment)
        store.addCarLoans(this.selDoodad.carLoans)
        store.increaseOtherExpenses(this.selDoodad.otherExpenses)
      } else if (this.childUniversityPayChoice === 'cash') {
        store.addCash(-this.payAmount)
      } else if (this.childUniversityPayChoice === 'loan') {
        store.addSchoolLoans(this.selDoodad.schoolLoans)
        store.addSchoolLoanPayment(this.selDoodad.schoolLoanPayment)
      } else if (this.isCardBuyTVCreditCard) {
        store.increaseCreditcards(this.selDoodad.mortgage)
        store.increaseCreditcardPayment(this.selDoodad.monthlyExpenses)
      } else if (this.isCardNewBoat) {
        store.addBoatLoan(17000)
        store.addCash(-1000)
      } else if (this.isDoodad) {
        if (!isNaN(parseInt(this.customValue, 10))) {
          store.addCash(-this.customValue)
        }
        if (!isNaN(parseInt(this.increaseOtherExpensesBy, 10))) {
          store.increaseOtherExpenses(this.increaseOtherExpensesBy)
        }
      }

      if (this.market2 === 'risk_insured' && !isNaN(parseInt(this.increaseOtherExpensesBy, 10))) {
        store.increaseOtherExpenses(this.increaseOtherExpensesBy)
      }
      if (this.market2 === 'child_marries' && !isNaN(parseInt(this.customValue, 10)) && this.numberOfChildren > 0) {
        store.addCash(-this.customValue)
        store.removeChild(1)
      }

      //

      Object.keys(this.getItems).forEach(function (key) {
        if (that.market2 === 'foreign_trade') {
          let u = that.getItems[key].units
          if (that.getItems[key].type === 'house' || that.getItems[key].type === 'condo') {
            u = 1
          }
          store.realestateAddCashflow(key, 30 * u)
        }

        if (key === that.checked) {
          if (that.market2 === 'pollution' && that.pollutionChoice === 'pay') {
            store.addCash(-50000)
          }
          if (that.market2 === 'pollution' && that.pollutionChoice === 'lose') {
            store.sellRealestate(key, that.getItems[key].mortgage, false)
          }
          if (that.market2 === 'airport') {
            store.sellRealestate(key, that.getItems[key].cost, false)
          }
          if (that.market2 === 'surprise_offer') {
            store.sellRealestate(key, that.getItems[key].cost * 1.5, false)
          }
          if (that.market2 === 'natural_disaster') {
            store.realestateAddCashflow(key, -that.getItems[key].cashFlow)
          }
          if (that.market2 === '5acres' || that.market2 === '10acres') {
            let am = parseInt(that.amount, 10)
            store.sellRealestatePart(key, that.market2 === '5acres' ? 5 : 10, am)
          }
          if (that.market2 === 'reed_condo' || that.market2 === 'reed_duplex') {
            store.sellRealestate(key, that.getItems[key].cost, false)

            store.addRealEstate({
              type: 'plex',
              'units': 4,
              'downPay': parseInt(that.condoDownPay, 10),
              'cost': parseInt(that.condoCost, 10),
              'mortgage': parseInt(that.condoMortgage, 10),
              'cashFlow': parseInt(that.condoCashFlow, 10)
            })

            // Must be done last!
            store.addCash(-parseInt(that.condoDownPay, 10))
          }
          if (that.market2 === 'reed_4plex') {
            store.sellRealestate(key, that.getItems[key].cost, false)

            store.addRealEstate({
              type: 'plex',
              'units': 8,
              'downPay': parseInt(that.condoDownPay, 10),
              'cost': parseInt(that.condoCost, 10),
              'mortgage': parseInt(that.condoMortgage, 10),
              'cashFlow': parseInt(that.condoCashFlow, 10)
            })

            // Must be done last!
            store.addCash(-parseInt(that.condoDownPay, 10))
          }
          if (that.market2 === 'reed_8plex') {
            store.sellRealestate(key, that.getItems[key].cost, false)

            store.addRealEstate({
              type: 'plex',
              'units': 16,
              'downPay': parseInt(that.condoDownPay, 10),
              'cost': parseInt(that.condoCost, 10),
              'mortgage': parseInt(that.condoMortgage, 10),
              'cashFlow': parseInt(that.condoCashFlow, 10)
            })

            // Must be done last!
            store.addCash(-parseInt(that.condoDownPay, 10))
          }
        }

        for (let key2 of that.checked) {
          if (key === key2) {
            if (that.market === 'condo' || that.market === 'house' || that.market === 'plexbuy' || that.market === 'plexany' || that.market === 'plex12' ||
              that.market === '10acres' || that.market === '20acres' || that.market2 === 'condo' || that.market2 === 'plexbuy' || that.market2 === 'plexany' ||
              that.market2 === 'plex24' || that.market2 === '5acres' || that.market2 === '10acres'
            ) {
              let am = parseInt(that.amount, 10)
              if (that.market === 'plexbuy' || that.market === 'plexany' || that.market === 'plex12' || that.market2 === 'plexbuy' || that.market2 === 'plexany' || that.market2 === 'plex24') {
                am *= that.getItems[key].units
              }
              store.sellRealestate(key, am, false)
            }
            if (that.market === 'biz_improves') {
              store.addCashflowToBusiness(key, parseInt(that.amount, 10))
            }
            if (that.market === 'partner2') {
              store.sellPartnership(key, 2)
            }
            if (that.market === 'partner3') {
              store.sellPartnership(key, 3)
            }
            if (that.market.substr(0, 7) === 'demand_') {
              store.sellBusiness(key, parseInt(that.amount, 10))
            }
            if (that.market === 'inflation') {
              store.sellRealestate(key, 0, false)
            }
            if (that.market === 'int_drop') {
              store.sellRealestate(key, 50000, true)
            }
            if (that.market === 'housebrother') {
              store.sellRealestate(key, 0, false)
              store.addLiability({
                'type': '1 Promise by Brother-in-law',
                'monthlyExpenses': 500
              })
            }
            if (that.market2 === 'recession_strikes') {
              store.sellRealestate(key, (that.getItems[key].cost - that.getItems[key].mortgage) / 2 + that.getItems[key].mortgage, false)
            }
          }
        }

        if (that.getItems[key].sellUnits > 0) {
          if (that.market === 'rare_coin' || that.market === 'kruger') {
            store.sellOtherAsset(key, that.getItems[key].sellUnits, that.amount)
          }
        }
        if (that.market2 === 'recession_strikes') {
          let u = that.getItems[key].units
          if (that.getItems[key].type === 'house' || that.getItems[key].type === 'condo') {
            u = 1
          }
          store.realestateAddCashflow(key, -50 * u)
        }
      })

      if (this.deal === 'condo' || this.capitalGainDeal === 'condo') {
        store.addRealEstate({
          type: 'house',
          'units': 2,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.deal === 'house') {
        store.addRealEstate({
          type: 'house',
          'units': 3,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === 'house') {
        store.addRealEstate({
          type: 'house',
          'units': 3,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === 'duplex' || this.cashFlowDeal === 'duplex' || this.capitalGainDeal === 'duplex') {
        store.addRealEstate({
          type: 'plex',
          'units': 2,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === '4plex' || this.cashFlowDeal === '4plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 4,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === '8plex' || this.cashFlowDeal === '8plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 8,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === '12plex' || this.cashFlowDeal === '12plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 12,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === '24plex' || this.cashFlowDeal === '24plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 24,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.cashFlowDeal === '30plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 30,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.cashFlowDeal === '50plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 50,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.cashFlowDeal === 'xplex') {
        store.addRealEstate({
          type: 'plex',
          'units': parseInt(this.condoUnits, 10),
          'downPay': parseInt(this.condoCost, 10) * parseInt(this.condoUnits, 10),
          'cost': parseInt(this.condoCost, 10) * parseInt(this.condoUnits, 10),
          'mortgage': 0,
          'cashFlow': parseInt(this.condoCashFlow, 10) * parseInt(this.condoUnits, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoCost, 10) * parseInt(this.condoUnits, 10))
      }

      if (this.bigDeal === '60plex') {
        store.addRealEstate({
          type: 'plex',
          'units': 60,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.deal === 'land') {
        store.addRealEstate({
          type: 'land',
          'units': 10,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal === 'land' || this.capitalGainDeal === 'land') {
        store.addRealEstate({
          type: 'land',
          'units': 20,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.capitalGainDeal === 'land40') {
        store.addRealEstate({
          type: 'land',
          'units': 40,
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.isSpareTime1) {
        store.addBusiness({
          type: 'Spare Time Co.',
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoDownPay, 10),
          'mortgage': 0,
          'cashFlow': 0
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.cashFlowDeal === 'sparetime2' && this.hasSpareTime1) {
        store.increaseSpareTimeCashflow(parseInt(this.condoCashFlow, 10))
      }

      if ((this.cashFlowDeal === 'sparetime3' || this.market2 === 'sparetime3') && this.hasSpareTime2) {
        store.increaseSpareTimeCashflow(parseInt(this.condoCashFlow, 10))
      }

      if (this.deal === 'company') {
        store.addBusiness({
          type: 'Small Business - Software',
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.deal === 'company_widgets') {
        store.addBusiness({
          type: 'Small Business - Widgets',
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.bigDeal.substr(0, 4) === 'biz_') {
        store.addBusiness({
          type: this.bigDeal.substr(4),
          'downPay': parseInt(this.condoDownPay, 10),
          'cost': parseInt(this.condoCost, 10),
          'mortgage': parseInt(this.condoMortgage, 10),
          'cashFlow': parseInt(this.condoCashFlow, 10)
        })

        // Must be done last!
        store.addCash(-parseInt(this.condoDownPay, 10))
      }

      if (this.deal === '2big') {
        let un = this.getStockUnits()
        store.addStock({
          type: '2BIG',
          'numberOfShares': un,
          'costPerShare': this.stockPrice,
          'dividendPerMonth': this.stockDividendPerMonth
        })
      }

      if (this.cashFlowDeal === 'long_bonds') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'Long Term Bonds',
          'numberOfShares': un,
          'costPerShare': this.stockPrice,
          'dividendPerMonth': this.stockDividendPerMonth
        })
      }

      if (this.cashFlowDeal === 'trust') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'Reinsurance Trust',
          'numberOfShares': un,
          'costPerShare': this.stockPrice,
          'dividendPerMonth': this.stockDividendPerMonth
        })
      }

      if (this.deal === 'certificate') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'Certificate of Deposite',
          'numberOfShares': un,
          'costPerShare': this.stockPrice,
          'interestPerMonth': this.stockDividendPerMonth
        })
      }

      if (this.deal === 'kruger') {
        store.addOtherAsset({
          type: 'One-ounce Krugerrands',
          'cost': parseInt(parseInt(this.liabilityCost, 10) / 10, 10),
          'downPay': parseInt(parseInt(this.liabilityCost, 10) / 10, 10),
          'units': 10
        })

        // Must be done last!
        store.addCash(-this.liabilityCost)
      }

      if (this.deal === 'rare_coin') {
        store.addOtherAsset({
          type: 'Royal Spanish Coin',
          'cost': this.liabilityCost,
          'downPay': this.liabilityCost,
          'units': 1
        })

        // Must be done last!
        store.addCash(-this.liabilityCost)
      }

      if (this.deal === 'sister_borrow') {
        store.addOtherAsset({
          type: 'Loan to Sister-in-Law',
          'cost': this.liabilityCost,
          'downPay': this.liabilityCost,
          'units': 1
        })

        // Must be done last!
        store.addCash(-this.liabilityCost)
      }

      if (this.cashFlowDeal === 'program_bought') {
        store.addOtherAsset({
          type: 'Software Royalty',
          type2: 'royalty',
          'cost': this.royaltyCost,
          'downPay': this.royaltyCost,
          'cashFlow': this.royaltyCashFlow,
          'units': 1
        })

        // Must be done last!
        store.addCash(-this.royaltyCost)
      }

      if (this.cashFlowDeal === 'toy_sells') {
        store.addOtherAsset({
          type: 'Toy Royalty',
          type2: 'royalty',
          'cost': this.royaltyCost,
          'downPay': this.royaltyCost,
          'cashFlow': this.royaltyCashFlow,
          'units': 1
        })

        // Must be done last!
        store.addCash(-this.royaltyCost)
      }

      if (this.cashFlowDeal === 'hit_sells') {
        store.addOtherAsset({
          type: 'Song Royalty',
          type2: 'royalty',
          'cost': this.royaltyCost,
          'downPay': this.royaltyCost,
          'cashFlow': this.royaltyCashFlow,
          'units': 1
        })

        // Must be done last!
        store.addCash(-this.royaltyCost)
      }

      if (this.cashFlowDeal === 'book_sells') {
        store.addOtherAsset({
          type: 'Book Royalty',
          type2: 'royalty',
          'cost': this.royaltyCost,
          'downPay': this.royaltyCost,
          'cashFlow': this.royaltyCashFlow,
          'units': 1
        })

        // Must be done last!
        store.addCash(-this.royaltyCost)
      }

      if (this.isDamage) {
        store.addCash(-this.payAmount)
      }

      if (this.deal === 'on2u') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'ON2U',
          'numberOfShares': un,
          'costPerShare': this.stockPrice
        })
      }

      if (this.deal === 'gro4us') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'GRO4US',
          'numberOfShares': un,
          'costPerShare': this.stockPrice
        })
      }

      if (this.deal === 'ok4u') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'OK4U',
          'numberOfShares': un,
          'costPerShare': this.stockPrice
        })
      }

      if (this.capitalGainDeal === 'ok4u') {
        let un = this.getStockUnits()
        if (un !== 0) {
          store.addStock({
            type: 'OK4U',
            'numberOfShares': un,
            'costPerShare': this.stockPrice
          })
        }

        let uns = this.getStockUnitsShort()
        if (uns !== 0) {
          store.addStockShort({
            type: 'OK4U',
            'numberOfSharesShort': uns,
            'costPerShare': this.stockPrice
          })
        }
      }

      if (this.capitalGainDeal === 'ok4u_call' || this.capitalGainDeal === 'ok4u') {
        let un = this.getStockUnitsCall()
        if (un !== 0) {
          store.addStockCall({
            type: 'OK4U',
            'numberOfSharesCall': un,
            'costPerOption': this.stockPrice,
            'costPerShare': this.stockPriceRight,
            'turnsLeft': 4
          })
        }
      }

      if (this.capitalGainDeal === 'ok4u_put' || this.capitalGainDeal === 'ok4u') {
        let un = this.getStockUnitsPut()
        if (un !== 0) {
          store.addStockPut({
            type: 'OK4U',
            'numberOfSharesPut': un,
            'costPerOption': this.stockPrice,
            'costPerShare': this.stockPriceRight,
            'turnsLeft': 4
          })
        }
      }

      if (this.deal === 'ok4u_split' && this.split === '2_1') {
        store.splitStock('OK4U', 2)
      }
      if (this.market2 === 'ok4u_split') {
        store.splitStock('OK4U', 2)
      }

      if (this.deal === 'ok4u_split' && this.split === '1_2') {
        store.splitStock('OK4U', 0.5)
      }

      if (this.deal === 'myt4u') {
        let un = this.getStockUnits()
        store.addStock({
          type: 'MYT4U',
          'numberOfShares': un,
          'costPerShare': this.stockPrice
        })
      }

      if (this.capitalGainDeal === 'myt4u') {
        let un = this.getStockUnits()
        if (un !== 0) {
          store.addStock({
            type: 'MYT4U',
            'numberOfShares': un,
            'costPerShare': this.stockPrice
          })
        }

        let uns = this.getStockUnitsShort()
        if (uns !== 0) {
          store.addStockShort({
            type: 'MYT4U',
            'numberOfSharesShort': uns,
            'costPerShare': this.stockPrice
          })
        }
      }

      if (this.capitalGainDeal === 'myt4u_call' || this.capitalGainDeal === 'myt4u') {
        let un = this.getStockUnitsCall()
        if (un !== 0) {
          store.addStockCall({
            type: 'MYT4U',
            'numberOfSharesCall': un,
            'costPerOption': this.stockPrice,
            'costPerShare': this.stockPriceRight,
            'turnsLeft': 4
          })
        }
      }

      if (this.capitalGainDeal === 'myt4u_put' || this.capitalGainDeal === 'myt4u') {
        let un = this.getStockUnitsPut()
        if (un !== 0) {
          store.addStockPut({
            type: 'MYT4U',
            'numberOfSharesPut': un,
            'costPerOption': this.stockPrice,
            'costPerShare': this.stockPriceRight,
            'turnsLeft': 4
          })
        }
      }

      if (this.deal === 'myt4u_split' && this.split === '2_1') {
        store.splitStock('MYT4U', 2)
      }
      if (this.market2 === 'myt4u_split') {
        store.splitStock('MYT4U', 2)
      }

      if (this.deal === 'myt4u_split' && this.split === '1_2') {
        store.splitStock('MYT4U', 0.5)
      }

      if (this.cash < 0) {
        let loan = Math.ceil(-this.cash / 1000) * 1000
        this.$q.dialog({
          title: 'You do not have enough cash',
          message: 'Do you want to borrow ' + showAmount(loan) + ' (and are you allowed to)?',
          ok: 'Borrow ' + showAmount(loan),
          cancel: 'Cancel',
          preventClose: true
        }).then(() => {
          store.addBankLoan(loan)
          store.addCash(loan)
          store.finishedState(storeBackup)
          this.xshowDialog = false
        }).catch(() => {
          store.setState(storeBackup)
        })
      } else {
        store.finishedState(storeBackup)
        this.xshowDialog = false
      }
    },

    getStockUnits () {
      let su = parseInt(this.stockUnits, 10)
      if (isNaN(su)) {
        su = 0
      }
      let sus = parseInt(this.stockUnitsSell, 10)
      if (isNaN(sus)) {
        sus = 0
      }
      return su - sus
    },

    getStockUnitsShort () {
      let su = parseInt(this.stockUnitsShort, 10)
      if (isNaN(su)) {
        su = 0
      }
      let sus = parseInt(this.stockUnitsSellShort, 10)
      if (isNaN(sus)) {
        sus = 0
      }
      return su - sus
    },

    getStockUnitsCall () {
      let su = parseInt(this.stockUnits, 10)
      if (isNaN(su) || this.capitalGainDeal === 'ok4u' || this.capitalGainDeal === 'myt4u') {
        su = 0
      }
      let sus = parseInt(this.stockUnitsSellCall, 10)
      if (isNaN(sus)) {
        sus = 0
      }
      return su - sus
    },

    getStockUnitsPut () {
      let su = parseInt(this.stockUnits, 10)
      if (isNaN(su) || this.capitalGainDeal === 'ok4u' || this.capitalGainDeal === 'myt4u') {
        su = 0
      }
      let sus = parseInt(this.stockUnitsSellPut, 10)
      if (isNaN(sus)) {
        sus = 0
      }
      return su - sus
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0

table
  width 100%

td
  text-align right
  padding-right 8px

tr td:first-child, td.left
  text-align left

th
  text-align left
  font-weight normal
  font-style italic
  padding-right 8px
</style>
