<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Start a new game</span>

      <div slot="body">
        What Cashflow version are you playing?<br>
        <q-radio v-model="cashflowVersion" val="101" label="101" /> &nbsp;
        <q-radio v-model="cashflowVersion" val="202" label="202" /><br>
        <br>
        <q-select
          v-model="profession"
          stack-label="Profession"
          :options="selectProfessionOptions"
        />
        <q-select
          v-model="dreamChoice"
          stack-label="Dream"
          :options="selectDreamOptions"
        />
        <template v-if="is202">
          <br>
          <q-select
            v-model="beginningInvestmentPortfolio"
            stack-label="Beginning Investement Portfolio"
            :options="selectBeginningInvestmentPortfolioOptions"
          />
          <br>
        </template>
        Custom amounts (optionally):<br>
        <div class="blockhead">Income</div>
        <q-input v-model="salary" float-label="Salary" />
        <div class="blockhead">Expenses</div>
        <q-input v-model="taxes" float-label="Taxes" />
        <q-input v-model="homeMortgagePayment" float-label="Mortgage" />
        <q-input v-model="schoolLoanPayment" float-label="School Loan Pay" />
        <q-input v-model="carPayment" float-label="Car Payment" />
        <q-input v-model="creditcardPayment" float-label="Creditcard Payment" />
        <q-input v-model="retailPayment" float-label="Retail Payment" />
        <q-input v-model="otherExpenses" float-label="Other Expenses" />
        <q-input v-model="perChildExpense" float-label="Per Child Expense" />
        <div class="blockhead">Assets</div>
        <q-input v-model="savings" float-label="Savings" />
        <div class="blockhead">Liabilities</div>
        <q-input v-model="homeMortgage" float-label="Mortgage" />
        <q-input v-model="schoolLoans" float-label="School Loans" />
        <q-input v-model="carLoans" float-label="Car Loans" />
        <q-input v-model="creditcards" float-label="Creditcards" />
        <q-input v-model="retailDebt" float-label="Retail Debt" />
        <div class="blockhead">Totals</div>
        <q-input v-model="passiveIncome" float-label="Passive Income" readonly />
        <q-input v-model="totalIncome" float-label="Total Income" readonly />
        <q-input v-model="totalExpenses" float-label="Total Expenses" readonly />
        <q-input v-model="monthlyCashFlow" float-label="Monthly Cash Flow" readonly />
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Apply"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      cashflowVersion: store.cashflowVersion,
      salary: store.salary,
      taxes: store.taxes,
      homeMortgagePayment: store.homeMortgagePayment,
      schoolLoanPayment: store.schoolLoanPayment,
      carPayment: store.carPayment,
      creditcardPayment: store.creditcardPayment,
      retailPayment: store.retailPayment,
      otherExpenses: store.otherExpenses,
      perChildExpense: store.perChildExpense,
      homeMortgage: store.homeMortgage,
      schoolLoans: store.schoolLoans,
      carLoans: store.carLoans,
      creditcards: store.creditcards,
      retailDebt: store.retailDebt,
      savings: 0,
      profession: '',
      dreamChoice: '',
      beginningInvestmentPortfolio: ''
    }
  },

  computed: {
    is101 () { return this.cashflowVersion === '101' },
    is202 () { return this.cashflowVersion === '202' },

    passiveIncome () {
      let v = 0

      let bip = store.default.beginningInvestmentPortfolios[this.beginningInvestmentPortfolio] || {cash: 0}

      if (bip && bip.realEstates) {
        for (let re of bip.realEstates) {
          v += re.cashFlow
        }
      }

      return v
    },

    totalIncome () {
      return this.salary + this.passiveIncome
    },

    totalExpenses () {
      return this.taxes +
        this.homeMortgagePayment +
        this.schoolLoanPayment +
        this.carPayment +
        this.creditcardPayment +
        this.retailPayment +
        this.otherExpenses
    },

    monthlyCashFlow () {
      return this.totalIncome - this.totalExpenses
    },

    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    selectProfessionOptions () {
      let profs = []
      for (let p of store.default.professions) {
        profs.push({
          label: p.profession,
          value: p.profession
        })
      }
      return profs
    },

    selectDreamOptions () {
      let dms = []
      for (let d of store.default.dreams) {
        dms.push({
          label: d.title,
          value: d.title
        })
      }
      return dms
    },

    selectBeginningInvestmentPortfolioOptions () {
      let bips = []
      for (const [index, bip] of store.default.beginningInvestmentPortfolios.entries()) {
        let l = 'Cash: ' + showAmount(bip.cash)
        if (bip.stocks && bip.stocks.length > 0) {
          for (let st of bip.stocks) {
            l += ' + ' + st.numberOfShares + '*' + st.type
          }
        }
        if (bip.realEstates && bip.realEstates.length > 0) {
          l += ' + Real Estate'
        }
        bips.push({
          label: l,
          value: index
        })
      }

      return bips
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    },

    profession: function (v) {
      for (let p of store.default.professions) {
        if (p.profession === v) {
          this.salary = p.salary
          this.taxes = p.taxes
          this.homeMortgagePayment = p.homeMortgagePayment
          this.schoolLoanPayment = p.schoolLoanPayment
          this.carPayment = p.carPayment
          this.creditcardPayment = p.creditcardPayment
          this.retailPayment = p.retailPayment
          this.otherExpenses = p.otherExpenses
          this.perChildExpense = p.perChildExpense
          this.savings = p.savings
          this.homeMortgage = p.homeMortgage
          this.schoolLoans = p.schoolLoans
          this.carLoans = p.carLoans
          this.creditcards = p.creditcards
          this.retailDebt = p.retailDebt
        }
      }
    }
  },

  methods: {
    clickApply () {
      store.resetAllData()

      store.setCashflowVersion(this.cashflowVersion)
      store.setSalary(this.salary)
      store.setTaxes(this.taxes)
      store.setHomeMortgagePayment(this.homeMortgagePayment)
      store.setSchoolLoanPayment(this.schoolLoanPayment)
      store.setCarPayment(this.carPayment)
      store.setCreditcardPayment(this.creditcardPayment)
      store.setRetailPayment(this.retailPayment)
      store.setOtherExpenses(this.otherExpenses)
      store.setPerChildExpense(this.perChildExpense)
      store.setHomeMortgage(this.homeMortgage)
      store.setSchoolLoans(this.schoolLoans)
      store.setCarLoans(this.carLoans)
      store.setCreditcards(this.creditcards)
      store.setRetailDebt(this.retailDebt)

      let bip = store.default.beginningInvestmentPortfolios[this.beginningInvestmentPortfolio] || {cash: 0}

      store.deleteAllStocks()
      if (bip.stocks) {
        for (let st of bip.stocks) {
          store.addStock(st)
        }
      }

      store.deleteAllRealEstates()
      if (bip.realEstates) {
        for (let re of bip.realEstates) {
          store.addRealEstate(re)
        }
      }

      store.deleteAllBusinesses()

      store.deleteAllLiabilities()

      store.deleteAllOtherAssets()

      store.setDream(this.dreamChoice)

      // Must be done last!
      store.setCash(store.monthlyCashFlow + this.savings + bip.cash)

      this.xshowDialog = false

      this.$router.push('statement')
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
