<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Pay</span>

      <div slot="body">
        <q-input v-model="customValue" stack-label="Pay a one time amount:" />
        <!-- <q-select
          v-model="card"
          stack-label="Or apply one of these cards:"
          :options="selectCardOptions"
        /> -->

        <template v-if="isCardBuyTV">
          <br>
          How do you want to pay?<br>
          <q-radio v-model="tvPayChoice" val="cash" label="Pay Cash" /> &nbsp;
          <q-radio v-model="tvPayChoice" val="loan" label="Pay with Credit Card" /><br>
        </template>
        <template v-if="isCardBuyTVCreditCard">
          <br>
          Add a Credit Card debt of {{showAmount(selDoodad.mortgage)}} and increase monthly expenses by {{showAmount(selDoodad.monthlyExpenses)}}
        </template>

        <template v-if="isCardNewBoat">
          <br>
          Add a liability of {{showAmount(selDoodad.liability.mortgage)}} and increase monthly expenses by {{showAmount(selDoodad.liability.monthlyExpenses)}}
        </template>
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Apply"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      customValue: '',
      card: '',
      tvPayChoice: ''
    }
  },

  fromMobx: {
    cash () { return store.cash }
  },

  computed: {
    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    selectCardOptions () {
      let cards = []
      for (const [index, card] of store.default.doodads.entries()) {
        cards.push({
          label: card.title,
          value: index
        })
      }

      return cards
    },

    selDoodad () {
      return parseInt(this.card, 10) >= 0 ? store.default.doodads[this.card] : null
    },

    isCardBuyTV () {
      return this.selDoodad && this.selDoodad.type === 'buy_tv'
    },

    isCardBuyTVCreditCard () {
      return this.isCardBuyTV && this.tvPayChoice === 'loan'
    },

    isCardNewBoat () {
      return this.selDoodad && this.selDoodad.type === 'new_boat'
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    },

    card: function (v) {
      let d = store.default.doodads[v]
      this.customValue = ''
      if (d.type === 'buy_tv') {
        this.tvPayChoice = 'cash'
      }
      if (d.type === 'new_boat') {
        this.customValue = d.payAmount
      }
    },

    tvPayChoice: function (v) {
      let am = this.selDoodad ? this.selDoodad.payAmount : ''
      this.customValue = v === 'cash' ? am : ''
    }
  },

  methods: {
    clickApply () {
      let storeBackup = store.getState()

      if (this.isCardBuyTVCreditCard) {
        store.increaseCreditcards(this.selDoodad.mortgage)
        store.increaseCreditcardPayment(this.selDoodad.monthlyExpenses)
      }

      if (this.isCardNewBoat) {
        store.addLiability(this.selDoodad.liability)
      }

      // Must be done last!
      store.addCash(-this.customValue)

      if (this.cash < 0) {
        let loan = Math.ceil(-this.cash / 1000) * 1000
        this.$q.dialog({
          title: 'You do not have enough cash',
          message: 'Do you want a loan of ' + showAmount(loan) + ' (and are you allowed to)?',
          ok: 'Loan ' + showAmount(loan),
          cancel: 'Cancel',
          preventClose: true
        }).then(() => {
          store.addBankLoan(loan)
          store.addCash(loan)
          store.finishedState(storeBackup)
          this.xshowDialog = false
        }).catch(() => {
          store.setState(storeBackup)
        })
      } else {
        store.finishedState(storeBackup)
        this.xshowDialog = false
      }
    },

    showAmount (v) {
      return showAmount(v)
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  min-width 320px
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
