<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Receive</span>

      <div slot="body">
        <q-radio v-model="receiveChoice" val="paycheck" label="Paycheck" /> &nbsp;
        <q-radio v-model="receiveChoice" val="customValue" label="Custom Amount" />
        <template v-if="isCustom">
          <br><br>
          <q-input v-model="customValue" stack-label="Reveive one time amount:" />
        </template>
        <template v-else>
          <br><br>
          <q-input v-model="monthlyCashFlow" stack-label="Reveive Paycheck:" readonly />
        </template>
      </div>

      <template slot="buttons" slot-scope="props">
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Receive"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      receiveChoice: 'paycheck',
      customValue: '',
      cash: store.cash
    }
  },

  fromMobx: {
    monthlyCashFlow () {
      return store.monthlyCashFlow
    }
  },

  computed: {
    isCustom () {
      return this.receiveChoice === 'customValue'
    },

    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    }
  },

  watch: {
    // receiveChoice: function (v) {
    //   if (v === 'paycheck') {
    //     this.customValue = this.monthlyCashFlow
    //   } else {
    //     this.customValue = ''
    //   }
    // },

    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    }
  },

  methods: {
    clickApply () {
      let storeBackup = store.getState()

      if (this.isCustom) {
        store.addCash(this.customValue)
      } else {
        if (this.monthlyCashFlow >= 0) {
          store.addCash(this.monthlyCashFlow)
          console.log('test1')
        }
        if (this.monthlyCashFlow < 0 && this.cash > -this.monthlyCashFlow) {
          store.addCash(this.monthlyCashFlow)
          console.log('test2')
        }
        if (this.monthlyCashFlow < 0 && this.cash < -this.monthlyCashFlow) {
          // make sell options, 101 differs from 202
          console.log('you are bankrupt')
        }
      }

      store.finishedState(storeBackup)
      this.xshowDialog = false
    },

    showAmount (v) {
      return showAmount(v)
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

/*
.dialog /deep/ .modal-body
  min-height 260px
  max-height inherit !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
*/
</style>
