<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Next Turn</span>

      <div slot="body">
        To end your turn, click the button below.<br><br>
        This is needed because you have items that have some turns left on them.
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Next Turn"
          color="primary"
          @click="clickNextTurn"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
    }
  },

  fromMobx: {
  },

  computed: {
    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    }
  },

  methods: {
    clickNextTurn () {
      store.NextTurn()
      this.xshowDialog = false
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
