<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Sell</span>

      <div slot="body">
        <q-select
          v-model="valdrop"
          stack-label="What To Sell"
          :options="selectOptions"
        />
        <template v-if='isChoiseMade'>
          <q-input
            v-model="down"
            stack-label="Sell Price:"
          />
        </template>
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Apply"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount, showNumber} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      valdrop: '',
      loanType: '',
      loanChosen: '',
      takeOutLoan: '',
      amountToPay: '',
      buyingOptions: '',
      title: 0,
      type: 0,
      cashFlow: 0,
      down: 0,
      cashWon: 0,
      cashFastTrack: store.cashFastTrack,
      winOrLose: '',
      cashflowVersion: store.cashflowVersion
    }
  },

  fromMobx: {
    businessesFastTrack () { return store.businessesFastTrack }
  },

  computed: {
    isChoiseMade () { return this.valdrop !== '' },
    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    selectOptions () {
      let opts = []
      console.log('test3.1', this.businessesFastTrack)
      for (let p in this.businessesFastTrack) {
        console.log('test4.1', this.businessesFastTrack[p])
        opts.push({
          label: this.businessesFastTrack[p].title,
          value: this.businessesFastTrack[p].title
          // type: p.type
        })
      }
      return opts
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    },

    valdrop: function (v) {
      for (let p in this.businessesFastTrack) {
        if (this.businessesFastTrack[p].title === v) {
          this.title = this.businessesFastTrack[p].title
          this.down = this.businessesFastTrack[p].down
          this.uuid = p
        }
      }
      v = v.substr(6)
    }
  },

  methods: {
    clickApply () {
      store.sellBusinessesFastTrack(this.uuid, this.down)

      this.xshowDialog = false
    },

    showAmount (v) {
      return showAmount(v)
    },

    showNumber (v) {
      return showNumber(v)
    }
  }
}

</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
