<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Buy</span>

      <div slot="body">
        <q-select
          v-model="valdrop"
          stack-label="What To Buy"
          :options="selectOptions"
        />
        <template v-if='isChoiseMade'>
          <q-input
            v-model="down"
            stack-label="Downpay:"
          />
        </template>
      <div v-if="isGambleCashFlow">
        <br>
        <span slot='title'>Did You Win Or Lose?</span>
        <br>
        <q-radio v-model="winOrLose" val="win" label="Win" />
        <q-radio v-model="winOrLose" val="lose" label="Lose" />
      </div>
      <div v-if="isGambleCapitalGains">
        <br>
        <span slot='title'>Did You Win Or Lose?</span>
        <br>
        <q-radio v-model="winOrLose" val="win" label="Win" />
        <q-radio v-model="winOrLose" val="lose" label="Lose" />
      </div>
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Apply"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount, showNumber} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      valdrop: '',
      loanType: '',
      loanChosen: '',
      takeOutLoan: '',
      amountToPay: '',
      buyingOptions: '',
      title: 0,
      type: 0,
      cashFlow: 0,
      down: 0,
      cashWon: 0,
      cashFastTrack: store.cashFastTrack,
      winOrLose: '',
      cashflowVersion: store.cashflowVersion
    }
  },

  fromMobx: {
  },

  computed: {
    is101 () { return this.cashflowVersion === '101' },
    is202 () { return this.cashflowVersion === '202' },
    isChoiseMade () { return this.valdrop !== '' },
    isGambleCashFlow () { return this.valdrop === 'Buy A Gold Mine' || this.valdrop === 'Russian Oil Deal' || this.valdrop === 'Cookware Infomercial' },
    isGambleCapitalGains () { return this.valdrop === 'Software Co. IPO' || this.valdrop === 'Bio-Tech Co. IPO' },
    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    selectOptions () {
      let opts = []
      for (let p of store.default.otherFastTrack) {
        opts.push({
          label: p.title,
          value: p.title,
          type: p.type
        })
      }
      for (let p of store.default.dreams) {
        opts.push({
          label: p.title,
          value: 'dream_' + p.title
        })
      }
      return opts
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    },

    valdrop: function (v) {
      for (let p of store.default.otherFastTrack) {
        if (p.title === v && this.is101) {
          this.title = p.title
          this.type = p.type
          this.cashFlow = p.cashFlow
          this.down = p.down
          this.cashWon = p.cashWon
        }
        if (p.title === v && this.is202) {
          this.title = p.title
          this.type = p.type
          this.cashFlow = p.cashFlow
          this.down = p.down
          this.cashWon = p.cashWon
        }
      }
      v = v.substr(6)
      for (let p of store.default.dreams) {
        if (p.title === v) {
          this.title = p.title
          this.down = p.price
        }
      }
    }
  },

  methods: {
    clickApply () {
      if (this.valdrop.substr(0, 6) === 'dream_') {
        this.valdrop = ''
        if (this.cashFastTrack >= this.down) {
          store.addDream({
            'title': this.title,
            'downPay': this.down
          })
          store.addCashFastTrack(-this.down)
        }
        if (this.cashFastTrack < this.down) {
          this.$q.dialog({
            title: 'You do not have enough cash',
            cancel: 'Cancel',
            preventClose: true
          })
        }
      }
      if (this.isGambleCashFlow) {
        console.log('gam test 2')
        if (this.winOrLose === 'win') {
          console.log('gam test')
          // store.addFastTrackExtraPassiveIncome(this.cashFlow)
          store.addBusinessFastTrack({
            'title': this.title,
            'cashFlow': this.cashFlow,
            'downPay': this.down
          })
          store.addCashFastTrack(-this.down)
        }
        if (this.winOrLose === 'lose') {
          console.log('gam test 3')
          store.addCashFastTrack(-this.down)
        }
        if (this.cashFastTrack < this.down) {
          this.$q.dialog({
            title: 'You do not have enough cash',
            cancel: 'Cancel',
            preventClose: true
          })
        }
      }
      if (this.isGambleCapitalGains) {
        console.log('test8')
        if (this.winOrLose === 'win') {
          store.addCashFastTrack(this.cashWon)
          // store.addFastTrackExtraPassiveIncome(this.cashFlow)
        }
        if (this.cashFastTrack < this.down) {
          this.$q.dialog({
            title: 'You do not have enough cash',
            cancel: 'Cancel',
            preventClose: true
          })
        }
        store.addCashFastTrack(-this.down)
      }
      if (this.type === 'business') {
        console.log('test9')
        this.valdrop = ''
        if (this.cashFastTrack >= this.down) {
          store.addBusinessFastTrack({
            'title': this.title,
            'cashFlow': this.cashFlow,
            'downPay': this.down
          })
          store.addCashFastTrack(-this.down)
          // store.addFastTrackExtraPassiveIncome(this.cashFlow)
        }
        if (this.cashFastTrack < this.down) {
          this.$q.dialog({
            title: 'You do not have enough cash',
            cancel: 'Cancel',
            preventClose: true
          })
        }
      }

      this.xshowDialog = false
    },

    showAmount (v) {
      return showAmount(v)
    },

    showNumber (v) {
      return showNumber(v)
    }
  }
}

</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
