<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Other Actions</span>

      <div slot="body">
        <q-select
          v-model="valdrop"
          stack-label="What action:"
          :options="selectOptions"
        />

        <!-- <q-radio v-model="loanType" val="takeOut" label="Take Out Loan" /><br> -->
        <!-- <q-radio v-model="loanType" val="payOff" label="Pay Off Loan" /><br> -->

        <template v-if="isTakeOut">
          <br>
          How much do you want to borrow (And are you allowed)?
          <q-input v-model="takeOutLoan" float-label="Amount" />
        </template>

        <template v-if="isPayOff">
          <br>
          What loan do you want to pay off?<br>
          <q-select
            v-model="loanChosen"
            float-label="Select Loan"
            :options="selectLoanOptions"
          />
          <template v-if="isPayOffBankLoan">
            <table style=width:100%>
              <tr class="trmargintop">
                <td>Your Bank Loan:</td><td style="text-align:right">{{showAmount(bankLoanAmount)}}</td>
              </tr>
            </table>
            <q-input v-model="amountToPay" stack-label="Amount to pay"/>
          </template>
        </template>

        <template v-if="isAddChild">
          <br>
          New Number Of Children: {{showNumber(numberOfChildren + 1)}}<br>
          Per Child Expense: {{showAmount(perChildExpense)}}<br>
          New Child Expenses: {{numberOfChildren + 1}} * {{showAmount(perChildExpense)}} = {{showAmount((numberOfChildren + 1) * perChildExpense)}}
        </template>

        <template v-if="isChildMax">
          <br>
          You already have {{showNumber(numberOfChildren)}} children.
        </template>

        <template v-if="isRemoveChild">
          <br>
          New Number Of Children: {{showNumber(numberOfChildren - 1)}}<br>
          Per Child Expense: {{showAmount(perChildExpense)}}<br>
          New Child Expenses: {{numberOfChildren - 1}} * {{showAmount(perChildExpense)}} = {{showAmount((numberOfChildren - 1) * perChildExpense)}}
        </template>

        <template v-if="isChildMin">
          <br>
          You have no children.
        </template>

        <template v-if="isCharity">
          <br>
            <q-input v-model="payCharity" stack-label="Donate Amount:" readonly />
        </template>

        <template v-if="isDownsized">
          <br>
            <q-input v-model="payDownsized" stack-label="Pay Amount:" readonly />
        </template>
      </div>

      <template
        slot="buttons"
        slot-scope="props"
      >
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Apply"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount, showNumber} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      valdrop: '',
      loanType: '',
      loanChosen: '',
      takeOutLoan: '',
      amountToPay: ''
    }
  },

  fromMobx: {
    numberOfChildren () {
      return store.numberOfChildren
    },

    perChildExpense () {
      return store.perChildExpense
    },

    bankLoanAmount () {
      return store.bankLoan
    },

    boatLoanAmount () {
      return store.boatLoan
    },

    payCharity () {
      return store.totalIncome / 10
    },

    payDownsized () {
      return store.totalExpenses
    }

  },

  computed: {
    isAddChild () { return this.valdrop === 'addchild' && this.numberOfChildren < 3 },

    isChildMax () { return this.valdrop === 'addchild' && this.numberOfChildren >= 3 },

    isRemoveChild () { return this.valdrop === 'removechild' && this.numberOfChildren > 0 },

    isChildMin () { return this.valdrop === 'removechild' && this.numberOfChildren <= 0 },

    isCharity () { return this.valdrop === 'charity' },

    isDownsized () { return this.valdrop === 'downsized' },

    isTakeOut () { return this.loanType === 'takeOut' },

    isPayOff () { return this.loanType === 'payOff' },

    isPayOffBankLoan () { return this.loanChosen === 'bankLoan' },

    isPayOffBoatLoan () { return this.loanChosen === 'boatLoan' },

    passiveIncome () { return 0 },

    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    selectOptions () {
      return [
        {
          label: 'Borrow',
          value: 'borrow'
        },
        {
          label: 'Pay off a Loan',
          value: 'payoff'
        },
        {
          label: 'Add a Child',
          value: 'addchild'
        },
        {
          label: 'Remove a Child',
          value: 'removechild'
        },
        {
          label: 'Charity',
          value: 'charity'
        },
        {
          label: 'Downsized',
          value: 'downsized'
        }
      ]
    },

    selectLoanOptions () {
      return [
        {
          label: 'Home Mortgage',
          value: 'homeMortgage'
        },
        {
          label: 'School Loans',
          value: 'schoolLoans'
        },
        {
          label: 'Car Loans',
          value: 'carLoans'
        },
        {
          label: 'Creditcards',
          value: 'creditcards'
        },
        {
          label: 'Retail Debt',
          value: 'retailDebt'
        },
        {
          label: 'Bank Loan',
          value: 'bankLoan'
        },
        {
          label: 'Boat Loan',
          value: 'boatLoan'
        }
      ]
    }
  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    },

    valdrop: function (v) {
      this.loanType = ''
      if (v === 'borrow') {
        this.loanType = 'takeOut'
      }
      if (v === 'payoff') {
        this.loanType = 'payOff'
      }
    }
  },

  methods: {
    clickApply () {
      let storeBackup = store.getState()

      if (this.valdrop === 'addchild' && !this.isChildMax) {
        this.valdrop = ''
        store.addChild(1)
      }

      if (this.valdrop === 'removechild' && !this.isChildMin) {
        this.valdrop = ''
        store.addChild(-1)
      }

      if (this.valdrop === 'charity' && !this.isCharity) {
        this.valdrop = ''
        store.addCash(-this.payCharity)
      }

      if (this.valdrop === 'downsized' && !this.isDownsized) {
        this.valdrop = ''
        store.addCash(-this.payDownsized)
      }

      if (this.loanType === 'takeOut') {
        store.addBankLoan(parseInt(this.takeOutLoan))
        store.addCash(parseInt(this.takeOutLoan))
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'homeMortgage') {
        store.addCash(-store.homeMortgage)
        store.setHomeMortgage(0)
        store.setHomeMortgagePayment(0)
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'schoolLoans') {
        store.addCash(-store.schoolLoans)
        store.setSchoolLoans(0)
        store.setSchoolLoanPayment(0)
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'carLoans') {
        store.addCash(-store.carLoans)
        store.setCarLoans(0)
        store.setCarPayment(0)
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'creditcards') {
        store.addCash(-store.creditcards)
        store.setCreditcards(0)
        store.setCreditcardPayment(0)
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'retailDebt') {
        store.addCash(-store.retailDebt)
        store.setRetailDebt(0)
        store.setRetailPayment(0)
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'bankLoan') {
        store.addBankLoan(-parseInt(this.amountToPay))
        store.addCash(-parseInt(this.amountToPay))
      }

      if (this.loanType === 'payOff' && this.loanChosen === 'boatLoan') {
        store.addBoatLoan(-17000)
        store.addCash(-17000)
      }

      store.finishedState(storeBackup)
      this.xshowDialog = false
    },

    showAmount (v) {
      return showAmount(v)
    },

    showNumber (v) {
      return showNumber(v)
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
