<template>
  <div class="wrapper">
    <q-dialog
      v-model="xshowDialog"
      class="dialog"
    >
      <span slot="title">Pay</span>

      <div slot="body">
        <q-select
          v-model="valdrop"
          stack-label="What To Pay"
          :options="selectOptions"
        />

      <template v-if="isCustomValue">
        <q-input v-model="payCustomValue" stack-label="Pay a one time amount:" />
      </template>

      </div>

      <template slot="buttons" slot-scope="props">
        <q-btn
          label="Cancel"
          @click="props.cancel"
        />
        <q-btn
          label="Pay"
          color="primary"
          @click="clickApply"
        />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import store from '../store/store'
import {showAmount} from '../helpers/format'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      customValue: '',
      valdrop: '',
      payCustomValue: ''
    }
  },

  fromMobx: {
    cash () { return store.cashFastTrack },
    halfCash () { return store.cashFastTrack / 2 }
  },

  computed: {

    isCharity () { return this.valdrop === 'charity' },
    isTaxAudit () { return this.valdrop === 'taxaudit' },
    isDivorce () { return this.valdrop === 'divorce' },
    isLawsuit () { return this.valdrop === 'lawsuit' },
    isCustomValue () { return this.valdrop === 'customvalue' },

    xshowDialog: {
      get () { return this.showDialog },
      set (v) { if (!v) this.$emit('dialog-closed') }
    },

    showAmount (v) {
      return showAmount(v)
    },

    selectOptions () {
      return [
        {
          label: 'Charity',
          value: 'charity'
        },
        {
          label: 'Tax Audit',
          value: 'taxaudit'
        },
        {
          label: 'Divorce',
          value: 'divorce'
        },
        {
          label: 'Lawsuit',
          value: 'lawsuit'
        },
        {
          label: 'Custom Value',
          value: 'customvalue'
        }
      ]
    }

  },

  watch: {
    xshowDialog: function (v) {
      if (v) {
        Object.assign(this.$data, this.$options.data.apply(this))
      }
    }
  },

  methods: {
    clickApply () {
      if (this.valdrop === 'customvalue') {
        if (this.cash < this.payCustomValue) {
          this.$q.dialog({
            title: 'You do not have enough cash',
            cancel: 'Cancel',
            preventClose: true
          })
        } else {
          store.addCashFastTrack(-this.payCustomValue)
        }
      }
      if (this.valdrop === 'charity') {
        if (this.cash < 100000) {
          this.$q.dialog({
            title: 'You do not have enough cash',
            cancel: 'Cancel',
            preventClose: true
          })
        } else {
          store.addCashFastTrack(-100000)
        }
      }
      if (this.valdrop === 'taxaudit') {
        store.addCashFastTrack(-this.halfCash)
      }
      if (this.valdrop === 'divorce') {
        store.addCashFastTrack(-this.cash)
      }
      if (this.valdrop === 'lawsuit') {
        store.addCashFastTrack(-this.halfCash)
      }

      this.xshowDialog = false
    }

    // showAmount (v) {
    //   return showAmount(v)
    // }
  }
}

</script>

<style scoped lang="stylus">
@import '~variables'

.dialog /deep/ .modal-body
  // min-height 260px
  max-height 90vh !important
  min-width 320px
  flex 1

.dialog /deep/ .modal-content
  overflow-y hidden !important
  display flex
  flex-direction column

.dialog /deep/ .modal-buttons
  min-height: 60px
  padding: 12px 8px 18px 8px !important

.dialog /deep/ .q-if
  padding-bottom 0 !important
  margin-bottom 8px

.blockhead
  background-color #444
  color white
  padding 4px
  margin 16px 0 6px 0
</style>
