<template>
  <our-q-page :style-fn="styleFn">
    <div class="page-content-wrapper absolute-full">
      <div class="page-content-header">
        <slot name="header" />
      </div>
      <div class="page-content-wrapper-inner">
        <div class="page-content">
          <slot />
        </div>
      </div>
      <div class="page-content-footer">
        <slot name="footer" />
      </div>
      <div class="page-content-dialogs">
        <slot name="dialogs" />
      </div>
    </div>
  </our-q-page>
</template>

<script>
import QPage from '../components/QPage.js'
export default {
  components: {
    'our-q-page': QPage
  },

  methods: {
    styleFn (offset, winHeight) {
      offset = offset || 0
      let h = winHeight - offset
      return { minHeight: h + 'px' }
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.page-content-wrapper
  display flex
  flex-direction column
  background-color $page-background-color

  & > *
    width 100%
    margin auto

.page-content-wrapper-inner
  overflow auto
  width 100%
  height 100%
  flex 1 1 auto

.page-content
  width $page-content-max-width
  max-width 100%
  padding $page-content-padding
  margin auto

  & /deep/ > *
    width 100%
    // margin-bottom 16px

  & /deep/ > .q-card
    // box-shadow 0 0 0 1px rgba(0,0,0,0.05), 0 2px 0 0 rgba(0,0,0,0.08) !important
    box-shadow none !important
    background-color $page-item-background-color
</style>
