<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :qqqglossy="$q.theme === 'mat'"
        :qqqinverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Cashflow 101 &amp; 202
        </q-toolbar-title>
        <div>
          <q-btn label="New Game" @click="clickNewGame"/>
        </div>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Menu</q-list-header>
        <q-item @click.native="clickHome">
          <q-item-side icon="home" />
          <q-item-main label="Home" />
        </q-item>
        <q-item @click.native="clickStatement">
          <q-item-side icon="directions_walk" />
          <q-item-main label="Rat Race" />
        </q-item>
        <q-item @click.native="clickFastTrack">
          <q-item-side icon="directions_run" />
          <q-item-main label="Fast Track" />
        </q-item>
        <q-item @click.native="clickBugReport">
          <q-item-side icon="report" />
          <q-item-main label="Bug Report" />
        </q-item>
        <q-item @click.native="clickHelp">
          <q-item-side icon="help" />
          <q-item-main label="Help" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import router from '../router'

export default {
  name: 'LayoutDefault',

  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },

  methods: {
    clickNewGame () {
      router.push('/')
    },

    clickHome () {
      router.push('/')
    },

    clickStatement () {
      router.push('statement')
    },

    clickFastTrack () {
      router.push('fastTrack')
    },

    clickBugReport () {
      router.push('bugreport')
    },

    clickHelp () {
      router.push('help')
    }
  }
}
</script>

<style scoped lang="stylus">
.q-layout-header
  box-shadow none !important
</style>
